[2016-11-04 16:11] iandouglas opened #1 "Idea: export a list of RSS feeds"
After I try the demo, if I want to host my own version, I'd like a way to export the URLs I've entered on winds.getstream.io to then import into my own hosted version.

[2016-11-04 22:32] nparsons08 commented on #1
Would a CSV do the trick? I think this would be perfect under the reset password field as an export setting. Any other formats that you feel might be helpful?

[2016-11-05 05:05] tschellenbach opened #2 "Auth issue"
See this thread on Reddit:
https://www.reddit.com/r/javascript/comments/5b48vb/winds_010_open_source_rss_reader/

[2016-11-06 23:34] nparsons08 commented on #2
Fixed with release: 5e22d9c5f4aaef22eb53a5bede567c588da60c8d

[2016-11-06 23:34] #2 closed

[2016-11-08 02:33] omouse opened #3 "relies on proprietary APIs"
some users aren't using stream and others aren't using sendgrid for sending emails, it would be nice if replacements for those were possible.

[2016-11-08 05:17] tschellenbach commented on #3
The email backend is pluggable and Sentry can be disabled.
Feel free to fork the repo and replace Stream. This is not something we're considering for the main branch though as we work on Stream and are quite fond of our own technology :)

[2016-11-08 05:17] #3 closed

[2016-11-08 05:18] tschellenbach commented on #1
Didn't google reader use something like OPML?
https://en.wikipedia.org/wiki/OPML

[2016-11-08 05:18] tschellenbach opened #4 "Idea: Secondary links"
Show a secondary link to the comments for sites like Product Hunt, Reddit, HNews, Lobsters, DesignerNews etc

[2016-11-08 09:12] balupton opened #5 "Idea: Import feeds, tags, saves, and folders from Feedly"
Since Google Reader died, I imported all my data from it to Feedly, now that this is out, would be cool to import all that data into this.

[2016-11-08 09:49] icnagy commented on #5
👍 Or just add Feedly login and sync?

[2016-11-08 15:46] nparsons08 opened #6 "Idea: Article specific comments page with sharing functionality"
When clicking on a comments link below the article, you would be taken to a link within the Winds application and be able to comment via Disqus. You would also be able to share the article on your Facebook feed or via Twitter. This would give Winds a viral boost.

[2016-11-08 15:53] nparsons08 commented on #5
@balupton @icnagy Great ideas, however, Feedly doesn't look to be handing out API access at this time. They're a bit behind on their v2 API launch.

"Update: We are in the process of creating the second iteration of the feedly API. The ETA is Q2 2016. We will NOT be delivering production keys between now and then. If you have an urgent request, please contact support@feedly.com"

More here: https:

[2016-11-08 16:30] icnagy commented on #5
@nparsons08 Oh, I missed that. In that case: OPML import? I guess that could be the base for Feedly import once they catch up.

[2016-11-08 20:34] nparsons08 commented on #5
For reference: https://www.cnet.com/how-to/how-to-export-feedly-subscriptions-to-opml/

[2016-11-10 16:21] omouse commented on #3
lol ok cool, I just thought I'd bring it up, I'm working on stuff that relies on proprietary APIs as well. It's nice that the email backend is pluggable 👍 Thanks!

[2016-11-11 09:57] shprink opened #7 "Cannot SignUp"
![image](https://cloud.githubusercontent.com/assets/1388706/20211148/77509236-a7fd-11e6-8be4-f1d2ea2eeaf8.png)

Response:

![image](https://cloud.githubusercontent.com/assets/1388706/20211152/810bdb14-a7fd-11e6-9691-3d9f1f34e813.png)

[2016-11-11 14:01] julianxhokaxhiu opened #8 "Idea: Docker support"
What about an official Docker for this awesome project?

Thank you in advance :)

[2016-11-11 15:39] naspinski opened #9 "Idea: import OPML files"
Most people aren't going to switch if they have to enter urls in one by one, not worth the time to try something you might not like.

[2016-11-11 16:08] nparsons08 commented on #7
Hey @shprink, can you clear your local storage and cache? Then give it another shot? If the issue persists, we'll have a look. Thanks!

[2016-11-11 16:14] shprink commented on #7
Same problem. Here is the payload I send

![image](https://cloud.githubusercontent.com/assets/1388706/20221594/3e64077a-a832-11e6-9fe3-414948dd6330.png)

[2016-11-11 16:15] nparsons08 commented on #7
Thanks @shprink. Can you ping me at nick@getstream.io? I'd like to get this issue resolved for you as soon as possible. Additionally, can you provide me with your OS, Browser, etc.?

[2016-11-11 16:18] shprink commented on #7
OSX & Chrome but that's clearly a server issue. The payload the Http request uses seems ok to me.

[2016-11-11 16:19] nparsons08 commented on #7
Absolutely agree.

[2016-11-11 16:30] nparsons08 commented on #8
Great idea @julianxhokaxhiu! Would you be up for writing a Docker compose file?

[2016-11-11 16:32] nparsons08 commented on #9
It's a good idea and we agree completely. We're currently tracking this in https://github.com/GetStream/Winds/issues/5. Stay tuned or feel free to open a PR :)

[2016-11-11 16:59] #7 closed

[2016-11-11 18:13] 0xCMP opened #10 "Idea: Support installing on sandstorm"
Currently TinyRSS is the only option for users of Sandstorm and I'm dying for a better solution. So much that I started writing my own RSS app as well but I don't have the time.

It'd be great if Winds could be configured to deploy on Sandstorm.

https://sandstorm.io

https://docs.sandstorm.io/en/latest/developing/

[2016-11-11 19:48] nparsons08 commented on #8
Absolutely @julianxhokaxhiu. I'll get started on that today. Can you ping me at nick@getstream.io so we can collaborate via email?

[2016-11-11 20:13] julianxhokaxhiu commented on #8
Sure!

[2016-11-11 21:22] tschellenbach opened #11 "Roadmap: 0.2"
We're currently discussing the roadmap for 0.2.0
So far we're thinking about:

- [x] OPML import

- [x] Listen to changes to feeds in realtime
- [ ] Link to comments on HNews, PH, Reddit etc.
- [x] Improving RSS scraping performance
- [x] Stats on which feeds are failing when users add them
- [x] Docker

What else should be part of 0.2.0?

Future releases:

* Social auth (Facebook/Google)
* Expand

[2016-11-11 23:26] gRegorLove opened #12 "Don't send temporary passwords in plaintext"
A one-time login link that then forces a password change would be a better practice.

[2016-11-11 23:27] gRegorLove opened #13 "Infinite scroll makes footer unreachable"
I had a heck of a time getting to the Github link! Had to use dev tools to search for the link. :)

[2016-11-11 23:47] nparsons08 commented on #13
It's actually been on our radar for awhile now. We're thinking about implementing something similar to https://dribbble.com/shots where it will infinite scroll up to N number of pages and then display a "Load More" button. This would provide access to the footer. Are you interested in giving it a shot?

[2016-11-12 00:00] nparsons08 commented on #12
I'd like to hear your thoughts on the current practice vs. the one that you're preaching -- just to get your perspective.

Thanks!

[2016-11-12 00:06] voltagex commented on #12
Sending a password implies storing it in plaintext (even if you're not).

Also, email is insecure by default, often with no way for the end user to tell if TLS was used anywhere. Best to use a link that expires after use / after a set amount of time.

[2016-11-12 00:07] voltagex commented on #12
http://ux.stackexchange.com/questions/72358/should-password-reset-functionality-email-a-temporary-password-or-just-a-reset-l

[2016-11-12 00:13] nparsons08 commented on #12
Gotcha. Thank you for the explanation. We'll look into the issue and see what we can do for 0.2.0. As for now, I'd like to share that all passwords are bcrypted.

[2016-11-12 01:28] ashleypt commented on #10
I can give this a try, I love installing things manually so automating it into a package should be fun!

Let me know if you have any tips and I'll get started after breakfast :)

[2016-11-12 02:54] gRegorLove commented on #13
Sounds good. Sorry I forgot to search if this report existed already.

[2016-11-12 13:45] julianxhokaxhiu commented on #8
I'll provide a PR tomorrow :)

[2016-11-12 18:53] tschellenbach opened #14 "Reduce API calls to Stream"
Right now every article is repeatedly sent to Stream even if the data didn't change. We can optimize that and improve performance.

[2016-11-12 19:06] wongjn opened #15 "Account deactivation"
How does one delete a registered account? It should not be overly difficult to find the option to delete your own account.

[2016-11-12 21:53] tschellenbach commented on #15
A pull request would be much appreciated, shouldn't be too hard.

[2016-11-12 21:54] tschellenbach commented on #14
Fixed in https://github.com/GetStream/Winds/commit/44b054d8245294e40f9d28d4b7552ce5058e7b2c

[2016-11-12 21:54] #14 closed

[2016-11-13 14:47] mathias commented on #12
Seconded, the initial email should contain a link with a one-time login token that forces a password reset.

[2016-11-13 14:48] mathias commented on #11
Would feedback on each feed item, after you return to the app, be a useful input to the personalization engine? Like "More of this", "Less of this" buttons?

[2016-11-13 15:18] akshatgoel commented on #15
@tschellenbach Hi! I am new to the project and this looks like a beginner issue. Is it OK if I take a stab at it?

I am still exploring the UI so I may be wrong here but there doesn't seem to be a page/view for "user profile" management. There seems to be a sidebar with subscriptions/interests and change password & sign out button. I don't think sidebar is a good place for this action (destructive

[2016-11-13 16:30] tschellenbach commented on #11
Yes right now we only track impressions, click and selecting a specific feed (indicates you like to read the feed you've selected). An up or down vote is more explicit.

[2016-11-14 06:26] artivilla commented on #15
An option for this could be to change the 'Change Password' to 'Settings' and then override the column with 'Delete Account'. And maybe even move the 'Change Password' and other account management info there with a 'Back' label.

<img width="424" alt="winds____powered_by_getstream_io" src="https://cloud.githubusercontent.com/assets/2120159/20255278/47242a6a-aa09-11e6-9a48-7e5efe2dbdcf.png">

[2016-11-14 06:41] artivilla commented on #4
Are we talking about showing links for feeds that have comments? Is that data being currently pulled or we need to create a separate endpoint. Would love to take a stab at this. :)

[2016-11-14 09:59] akshatgoel commented on #15
@artivilla I agree. That's what I meant by a subview for profile management.

[2016-11-14 12:26] mlapierre opened #18 "Idea: Different views of articles"
The primary feature stopping me from using Winds now is the ability to read the content of the articles.

Currently we can switch between list (just the title) and card (image, title, and brief summary) views. Personally, I prefer to read as much content as the feed provides, i.e., the full description, if available, otherwise the summary. I'll only open the link to the original source if the cont

[2016-11-14 12:31] mlapierre commented on #11
Explicit feedback would be great. That would be especially important if the app includes a full-content view because then you might not actually leave the app to read the article.

[2016-11-14 17:16] #8 closed

[2016-11-14 18:03] tschellenbach opened #19 "Bug: Broken RSS Feeds"
As reported by Fabio Federici:

* https://code.facebook.com/posts/rss
* http://firstround.com/review/feed.xml

[2016-11-14 20:36] julianxhokaxhiu opened #20 "Bug: is ORM with MongoDB working?"
As said yesterday,
this is an outcome of when I was working yesterday on the Docker.

I was trying to setup my `MONGO_URI` environment variable to something like
[code]
but the application complained that something with `orm` could not be started ( I guess the `sails-mongo` package was not able to use it ).

So I went to your sourcecode and I found [this](https://github.com/GetStream/Winds/blob/ma

[2016-11-14 20:38] nparsons08 commented on #20
@julianxhokaxhiu Thank you for pointing this out. After looking at the code, it appears that https://github.com/GetStream/Winds/blob/master/config/connections.js#L81 is the correct version. Can you test locally and report back? Potentially with a quick PR? Thanks!

[2016-11-14 20:42] julianxhokaxhiu opened #21 "Idea: setup SMTP email server editing config/emails.js"
This is an outcome of the yesterday outcome of when I was working on the Dockerfile.

I was trying to setup my current email server on Winds, when I found that the application is not able to setup any kind of other server, because of the way the source code is being written up.

Actually you can change the configuration [on this file](https://github.com/GetStream/Winds/blob/master/config/emails.js

[2016-11-14 20:46] julianxhokaxhiu opened #22 "Idea: change PM2 PORT environment from 80 to 3000"
This is an outcome of the yesterday outcome of when I was working on the Dockerfile.

As you may see the Dockerfile, we are currently exposing the 3000 port, because the application is running within his own user. Since this will affect also any other user that would like to self-host this application, probably on Linux or Mac environments would not be possible, unless you change [the port in the

[2016-11-14 21:56] #20 closed

[2016-11-14 21:57] tschellenbach commented on #20
Replaced MONGO_URL with MONGO_URI in our codebase.

[2016-11-14 22:05] tschellenbach commented on #21
Jup, good point, thanks for providing all the details in this ticket.

[2016-11-14 22:05] #21 closed

[2016-11-15 00:43] #9 closed

[2016-11-15 05:12] #19 closed

[2016-11-15 16:36] tschellenbach opened #23 "Idea: Loglevels"
The loglevel should be easily configurable via the command line for scrape_feeds, scrape_favicons and the test flow. Right now you need to edit the file to change the loglevel which isn't great.

[2016-11-15 16:56] skytreader opened #24 "Why all HackerNews?"
I hope this is the place to raise this concern.

I initially subscribed to

1. Programming
2. Gaming
3. AI & Machine Learning

then I noticed that all the items in my feed are from HackerNews.

While I will not be surprised if a lot of HN items turn up, I would expect items from _other_ sources too. Gaming items aren't always found on HN, for instance.

Is this by design?

[2016-11-15 16:58] tschellenbach commented on #24
No that's really weird, do you have a user id, email you've used for signing up or perhaps a screenshot of what you're seeing?

[2016-11-15 17:00] tschellenbach commented on #4
From the looks of it will take a bit of work for every feed where we want to support this:
https://github.com/GetStream/Winds/commit/5210283d798149d81795a795466d628403599b22

Which RSS feeds do you read?

So the idea is to have a link to the comments section on Hnews, Designernews, Lobsters etc.

[2016-11-15 17:04] skytreader commented on #24
I used chadestioco@gmail.com and it looks like this:

![allhn](https://cloud.githubusercontent.com/assets/1474734/20315326/701df4a6-ab98-11e6-94c9-553a49cca51d.png)

[2016-11-15 18:03] artivilla commented on #4
Quite a few, not sure how many of these are popular. Not sure if this method is scalable but I can take a stab at adding some.

![screen shot 2016-11-15 at 12 54 53 pm](https://cloud.githubusercontent.com/assets/2120159/20317184/fb2671b0-ab32-11e6-943b-17893b1ce6db.png)

Is there a way to add email subscriptions that don't have RSS to a reader as well. It would make for a great value add on, that

[2016-11-15 19:20] nparsons08 commented on #24
Thanks @skytreader, we're looking into the issue now.

[2016-11-15 20:54] tschellenbach opened #25 "Bug: Duplicate keys for React"
Warning: flattenChildren(...): Encountered two children with the same key, `site-581cab545632dccc09c8455f`. Child keys must be unique; when two children share a key, only the first child will be used.

[2016-11-16 00:36] nparsons08 commented on #24
@skytreader We've adjusted our algorithm and recently pushed a fix. Please confirm on your end. For now, I'm going to close this out, however, feel free to re-open if the issue persists. Thank you!

[2016-11-16 00:36] #24 closed

[2016-11-16 00:38] nparsons08 commented on #5
@icnagy @balupton You can now import OPML files into Winds. When logged in, navigate to Subscriptions and on the bottom left of the page you'll see an option to Import OPML. We've tested this against a couple Feedly exports. Please let us know if you run into any issues. Thank you!

[2016-11-16 00:38] #5 closed

[2016-11-16 00:45] #23 closed

[2016-11-16 00:59] tschellenbach opened #29 "Discussion: Explicit upvotes"
Right now we only use clicks and impressions as an indicator for interest. User in this thread:

https://github.com/GetStream/Winds/issues/11

Suggested adding direct up and down votes.

[2016-11-16 01:01] tschellenbach commented on #4
That's a long list, did you see that we've just added OPML support? So you can batch import those subscriptions to Winds. (it's not entirely perfect yet though)

![image](https://cloud.githubusercontent.com/assets/265409/20330651/8525a3ca-ab5d-11e6-8401-971b82c84f59.png)

[2016-11-16 01:03] tschellenbach commented on #15
@tilton what do you think is best in terms of design?

@akshatgoel yes, that would be much appreciated. thanks for contributing!

[2016-11-16 02:57] nparsons08 commented on #13
Fixed by https://github.com/GetStream/Winds/commit/4b29ec8c6f251acd701035e89cfb7b5ca9d2f161

[2016-11-16 02:57] #13 closed

[2016-11-16 14:13] akshatgoel commented on #15
There is another functional aspect to this. Do we allow hard or soft-delete. We can just mark the account deactivated and let user preferences persist, lest user wants to enable their account again.

What do you think?

[2016-11-16 16:22] nparsons08 commented on #22
That's a good point @julianxhokaxhiu. The whole reason that we're going with port 80 is because it is exposed via PM2 and we don't have to put an NGINX LB in front of the application. Thoughts? We don't want to tie users down to a Docker specific environment.

[2016-11-16 17:30] tilton commented on #15
@akshatgoel @tschellenbach My recommendation would be to handle this in two steps.

The first would be to have a link that says "Permanently delete your account?" at the bottom of the settings panel:

![delete](https://cloud.githubusercontent.com/assets/1737904/20357443/40fe2b9e-abe5-11e6-9938-a0a00d64531a.png)

The next step would be to allow some sort of confirm/deny control on the delete proces

[2016-11-16 17:35] julianxhokaxhiu commented on #22
Considering that the port 80 you probably use it into a production environment, most probably you will serve it via reverse proxy. if you not you'll have special setup behind. so special requirements, special needs, special editing.

But in my opinion we have to assume that every developer must be enabled to run the application also into his non-privileged environment.

talking about docker you ca

[2016-11-16 17:37] akshatgoel commented on #15
@tilton So no soft-delete then?

Also, for confirmation, I really like Github (and Heroku)'s way of asking to write name of repository, which can be username in our case before deleting delete. Kind of adds better safeguard against accidental "cat runs on keyboard" scenarios?

[2016-11-16 17:46] tilton commented on #15
@akshatgoel I definitely considered doing something like that. It's how we handle deleting feeds at Stream. For this use case, I believe a simple yes/no suffices.

[2016-11-16 18:00] skytreader commented on #24
The sorting could still do some work but yes! The diversity in my feed is now pretty much falls into my expectations. Thanks!

[2016-11-16 18:10] tschellenbach opened #31 "Bug: Discovery endpoint discovers things that aren't RSS"
huffingtonpost.com -> http://www.huffpostarabi.com/
espn.com -> http://www.espn.com/
michaelmoore.com -> http://michaelmoore.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fmichaelmoore.com%2Ffeeds%2F

[2016-11-16 19:05] tschellenbach commented on #31
Fixed: https://github.com/GetStream/Winds/commit/3c119f1d348d725ba3f40f2b9d5aa56bee45783d

[2016-11-16 19:05] #31 closed

[2016-11-16 20:57] tschellenbach opened #33 "Bug: Broken feeds"
Here's an overview of some feeds that currently don't parse.

[code]

[2016-11-16 22:32] tschellenbach opened #34 "Performance: Scraping isn't keeping up"
There are over 2000 feeds to keep in sync now, scraping isn't keeping up. We need to make it a bit more efficient.

Some ideas:

* Prioritize popular feeds while scraping
* Run on multiple cores
* Reduce timeouts
* Disable getMetaInformation for less popular feeds
* Use a task queuing system to distribute the work

[2016-11-16 23:47] #25 closed

[2016-11-17 00:54] nparsons08 commented on #10
It's all you @ashleypt! Feel free to reach out with any questions :)

[2016-11-17 21:43] nparsons08 opened #35 "Idea: Realtime Notifications"
Enable realtime notifications for timeline and rss

[2016-11-17 23:01] tschellenbach commented on #34
So I'm thinking about a simple job queue to distribute the scraping workload across multiple servers.  Most self-hosted apps won't need this, so it will be an optional command line argument for the scrape feeds command..

On to the question, which task queueing system is the best?

https://github.com/LewisJEllis/bee-queue
https://github.com/OptimalBits/bull
https://github.com/Automattic/kue

[2016-11-18 16:48] nparsons08 commented on #22
Hey @julianxhokaxhiu, do you have time to quickly chat on appear.in? Let me know via email please and we can set something up. Chat soon!

[2016-11-18 17:44] jnareb opened #36 "Idea: Allow importing a list of RSS feeds in OPML and other formats"
It would be nice to be able to switch from other RSS reader (like e.g. Digg Reader) by importing (uploading) an OPML file or Google Takeout data.

[2016-11-18 17:46] nparsons08 commented on #36
Hey @jnareb, we now support OPML imports. Just click on the + sign in your header, or click "Upload OPML" in the left sidebar of the subscriptions page. Let us know if you have any issues -- we're here to help!

[2016-11-18 17:46] #36 closed

[2016-11-18 17:46] tschellenbach commented on #36
we agree, we've just added this a few days ago. subscriptions -> import opml

![image](https://cloud.githubusercontent.com/assets/265409/20440179/232c8cd0-ad7c-11e6-835a-e4e9838429b6.png)

we're also adding it to the add feed (+) dialog.

[2016-11-18 17:50] jnareb commented on #36
@tschellenbach Thanks. I had to reload page to see it.

Waiting to see if Winds would import successfully OPML export from Digg Reader...

[2016-11-18 18:47] #6 closed

[2016-11-18 23:20] nparsons08 opened #37 "Suggested Feeds"

[2016-11-18 23:24] nparsons08 opened #38 "Remove .tmp directory"

[2016-11-19 11:11] hyperfekt opened #39 "Idea: Rename feeds"
For various reasons feeds could have an uninformative name, for example when subscribed to subfeeds of publications, which cover only part of a topic but their name doesn't show that. There are quite a few scenarios.
I propose being able to change the display name of a feed.

[2016-11-19 11:43] Wowl commented on #29
That'd be awesome, so the reader optimizes for good articles instead of clickbait headlines.

[2016-11-19 11:47] hyperfekt opened #40 "Idea: add feeds without protocol"
When manually entering the URL for a site it is easy to forget the 'http://'. If the protocol could be added by the feed checker that would be nice.
Right now it says "Please enter a URL" when trying to do so, which is potentially confusing for less advanced users.

[2016-11-19 12:58] hyperfekt opened #41 "Bug: Feed has no items and wrong name"
When subscribing to this feed: http://www.feed43.com/bloomberg_view.xml
its' title shows up as 'Bloomberg Technology' instead of 'Bloomberg View' and contains no items. If you check the actual feed, you will notice the discrepancy.
What could cause this bug?

[2016-11-19 14:32] Wowl commented on #41
Another one with the wrong name (of a different section) is this one: http://feeds.feedburner.com/nymag/intelligencer (it shows up as 'selectall', which is NYMag as well but has different articles: http://feeds.feedburner.com/nymag/selectall)

[2016-11-19 18:24] tschellenbach commented on #40
The backend already supports this, just the frontend check is a bit too constrained

[2016-11-19 21:11] julianxhokaxhiu opened #43 "Idea: improve baseUrl to use API_BASE_URL"
As I saw actually, all the configuration files ( but for comodity I'll the production one ) have all hardcoded the baseUrl.

production.js: https://github.com/GetStream/Winds/blob/master/config/env/production.js#L7
.env_example: https://github.com/GetStream/Winds/blob/master/.env_example#L7

I suggest to improve the usage of this ENV in ALL the config/env/*.js files, in order to avoid confusion by

[2016-11-19 21:25] julianxhokaxhiu opened #44 "Idea: Single User usage"
Actually Winds allows every user who knows the Url where the app is being hosted, to be used by everyone.

Would be cool to have the possibility to configure only one user, in order to make it more personal ( say you want to host this into your own website hosting space ).

Thank you in advance :)

[2016-11-19 21:45] julianxhokaxhiu opened #45 "Bug: Sails errors cannot be logged if sentry.active=false"
I've found out that when you disable the `sentry.active` property inside [production.js](https://github.com/GetStream/Winds/blob/master/config/env/production.js#L2), when the code reaches [this line](https://github.com/GetStream/Winds/blob/master/api/controllers/AuthController.js#L127), for example, it just crashes.

Would be awesome if all around the code this check is being done, in order to jus

[2016-11-19 21:47] julianxhokaxhiu opened #46 "Bug: Csrf issue prevents to reset the password if the app crashes ( restarted by PM2 )"
I found out that if for some reasons the application crashes during an API processing ( say Password Reset ), the CSRF token prevents the user to use any other call to the Winds app.

Therefore a way to handle this situation should be possible. As of today, the only way to fix this is by clearing the localStorage and/or related Cookies.

Thanks in advance :)

[2016-11-20 13:21] Wowl commented on #34
I have another idea: You could try and implement PubSubHubbub to replace polling with subscription, ideally reducing load. Can't give any further details though, since I only just stumbled over it.

[2016-11-20 13:59] hyperfekt opened #47 "Bug: Imported feeds don't load"
I imported an OPML file from Inoreader and it turns out that the subscriptions simply keep loading forever, never retrieving any items. Subscribing to that same existing feed again manually fixes the issue.

[2016-11-20 17:29] tschellenbach commented on #45
looks like this should just use sails.log.error
good point, will pick this up in one of the next versions

[2016-11-20 23:22] tschellenbach commented on #47
Thanks for reporting this issue, it's very likely related to:
https://github.com/GetStream/Winds/issues/34

[2016-11-21 00:09] nparsons08 commented on #47
@tschellenbach @hyperfekt The issue has been confirmed. It is because the import script is not returning a response when it completes the import. Thank you for the heads up, @hyperfekt.

[2016-11-21 00:56] nparsons08 commented on #46
@julianxhokaxhiu -- Potential fix: Setup a Redis instance as your session store.

[2016-11-21 04:28] tschellenbach commented on #34
So far Kue looks like the best option:
https://github.com/Automattic/kue

[2016-11-21 06:56] julianxhokaxhiu commented on #46
Is there already an ENV for that? So I could improve the dockerfile :)

Thanks in advance

[2016-11-21 14:16] mlapierre commented on #29
As @mathias and @hyperfekt mentioned, it would be a good indicator of interest.

Clicks and impressions really seem like indicators of _potential_ interest - articles show up in our feed because they're like other things we're interested in, at least in general. I.e., that doesn't necessarily mean any specific article is interesting. The same goes for clicks - we click because the title/summary se

[2016-11-21 18:57] #43 closed

[2016-11-21 23:41] tschellenbach commented on #44
it's a solid idea. how would you like this to work in terms of configuration?

[2016-11-21 23:43] tschellenbach commented on #45
Ideally we just use the logging system. @nparsons08 had some issues getting that to work though:
https://github.com/diegopamio/sails-hook-sentry/blob/master/index.js

[2016-11-21 23:45] tschellenbach commented on #41
The problem is that we're using the site name instead of a feed name... We'll probably pick this up in 0.3.0, a pull request is always appreciated :)

[2016-11-21 23:46] tschellenbach commented on #11
Closing this discussion since 0.2 launch is coming soon, will open a new topic about 0.3

[2016-11-21 23:46] #11 closed

[2016-11-22 01:07] tschellenbach commented on #35
Also verify the feed works if personalization returns an empty result set...

[2016-11-22 01:31] tschellenbach opened #53 "Discussion: Winds v0.3.0"
Here are some items we're considering for Winds 0.3:

- [x] Improvements to ranking algorithm
- [x] Sharing via Buffer
- [x] Suggested feeds: https://github.com/GetStream/Winds/issues/37
- [x] Social auth (Facebook)
- [x] Explicit upvotes: https://github.com/GetStream/Winds/issues/29

Let us know what changes you'd like to see for Winds!

[2016-11-22 02:13] #35 closed

[2016-11-22 02:14] tschellenbach commented on #34
We've prioritized popular feeds and added a task queuing system. We'll need to further improve performance in future releases

[2016-11-22 05:14] #4 closed

[2016-11-22 07:19] julianxhokaxhiu commented on #44
I admit I have no real vision at the moment, but I'm pretty sure that it may escalate quickyl from 1 user to many, but still a closed circle.

I think we need to make sure that a first admin user with a random password at first setup is created.

Then afterwards is up to the user to add more or keep just one.

Of course an admin page where to manage them is required. Additional users may be added

[2016-11-22 17:03] nparsons08 commented on #46
@julianxhokaxhiu Just pushed up an update to the `.env_example` file. Let me know if you have any questions. Do note that the updated code requires a Redis instance. The password for Redis can be configured in the `.env` file.

[2016-11-22 17:03] #46 closed

[2016-11-22 21:56] anonsubmitter opened #54 "Password reset doesn't work and changing password almost never works"
The password reset feature doesn't work and changing password almost never works. Currently neither the password I used before or the password I tried to change to works, for some reason. So it looks like I will be locked out of my account when I close my current Winds session.

[2016-11-22 22:16] nparsons08 commented on #54
Hey @anonsubmitter, I just tested using Chrome and it worked without any issues. Are you on the hosted version (https://winds.getstream.io) or your own fork? Thanks, Nick.

[2016-11-22 22:17] anonsubmitter commented on #54
I'm on the hosted version.

[2016-11-22 22:17] nparsons08 commented on #54
What browser are you using?

[2016-11-22 22:18] anonsubmitter commented on #54
I'm logged in in both Chrome and Firefox and I tried logging in in Pale Moon to see if the password change had gone through.

[2016-11-22 22:21] nparsons08 commented on #54
Can you clear your localStorage and do a hard reset on your cache, then give it another round? http://superuser.com/questions/220179/how-can-i-do-a-cache-refresh-in-google-chrome

[2016-11-22 22:31] anonsubmitter commented on #54
I tried clearing localStorage in Chrome, changing the password and logging in in Pale Moon, but I still got "INVALID EMAIL OR PASSWORD".

[2016-11-22 22:32] nparsons08 commented on #54
What happens when you attempt to create an account?

On Tue, Nov 22, 2016 at 3:31 PM anonsubmitter <notifications@github.com>
wrote:

[2016-11-22 22:35] anonsubmitter commented on #54
I could create a new account just fine in Chrome.

[2016-11-22 22:35] nparsons08 commented on #54
With the same email address?

[2016-11-22 22:38] anonsubmitter commented on #54
No, I used another email address since I assumed that creating another account with the same email address would be impossible.

[2016-11-22 22:39] nparsons08 commented on #54
Can you attempt to create with the email that you were using for the password reset? It'll yell at you if there's an error. What is the email you're trying to create an account for? (happy to chat with you directly via nick@getstream.io)

[2016-11-22 22:44] anonsubmitter commented on #54
If I try to create an account with the same email address, will my feeds get wiped then? I spent about an hour adding 55 feeds and I'd like to avoid redoing that if possible. Is it possible to export the feeds to an importable backup file?
I'll email you the details.

[2016-11-22 22:45] nparsons08 commented on #54
No, they won't get wiped. Don't worry.

On Tue, Nov 22, 2016 at 3:44 PM anonsubmitter <notifications@github.com>
wrote:

[2016-11-22 22:48] #47 closed

[2016-11-22 22:50] anonsubmitter commented on #54
Ok, I've tried signing up again with the same email address. So far I haven't gotten any confirmation email.
The email with my email address has been sent.

[2016-11-22 22:51] nparsons08 commented on #54
Thank you. Can you please check your email now for a password reset
confirmation? It should contain a temporary password.

On Tue, Nov 22, 2016 at 3:50 PM anonsubmitter <notifications@github.com>
wrote:

[2016-11-22 22:54] #38 closed

[2016-11-22 22:57] anonsubmitter commented on #54
Yup, I got it. I'll log out from my account on all browsers and see if the password reset works.

[2016-11-22 22:58] nparsons08 commented on #54
👍

[2016-11-22 23:07] anonsubmitter commented on #54
It worked. I'll try and change the password twice to see if the error is gone.

[2016-11-22 23:09] anonsubmitter commented on #54
It didn't change to the password I tried to change it to.

[2016-11-22 23:11] nparsons08 commented on #54
No - it should happen right away. Does the temporary password still work? Also, do you see any errors in your console / network tab when attempting to reset?

[2016-11-22 23:27] anonsubmitter commented on #54
The password reset seems to work now at least.
The only thing I saw in the console was a bunch of `DOMPropertyOperations.js:142 The specified value "" is not a valid email address.` lines where the characters between "" were the characters in my email address as I was typing it.
The temporary password has thus far worked with two login attempts.

[2016-11-22 23:35] anonsubmitter opened #55 "Make RSS feeds exportable to an importable backup file"
I think it would be good if it was possible to export RSS feeds exportable to an importable backup file. But not to back up every single article that is posted in the RSS feeds, only to back up the RSS feeds themselves.

[2016-11-22 23:36] nparsons08 commented on #55
Duplicate of https://github.com/GetStream/Winds/issues/1

[2016-11-22 23:36] tschellenbach commented on #34
- We're no longer enriching articles if the hash is the same as an article we've already stored.
- Also fixed an edge case where 400s on the feed url wouldnt trigger the callback on hold up a worker process indefinitely.

[2016-11-23 03:22] tschellenbach commented on #55
Yes, this is a duplicate, but definitely something we'd like to add. A pull request implementing this will definitely be merged.

[2016-11-23 03:22] tschellenbach opened #56 "Registration email - Move to async task with retries"
The API call to sendgrid occasionally fails. We should move it to a background task (faster registration flow) and add retries (no more failed registrations)

[2016-11-23 03:34] #33 closed

[2016-11-23 03:34] #34 closed

[2016-11-23 04:15] #40 closed

[2016-11-23 18:16] mlapierre opened #57 "Redirect from http to https"
I get CORS errors when I try to log in unless I use https:

[code]

Logging in via https is fine, and preferable, so perhaps requests via http should be automatically redirected to https?

[2016-11-23 18:17] nparsons08 commented on #57
@mlapierre This is fixed in a later release. Can you please clear your cache? Alternatively, if you're running your own hosted version, modify the `.env` file to point to `https://winds.getstream.io`.

[2016-11-23 18:26] mlapierre commented on #57
I tried it with caching disabled (via dev tools).

It looks like requests to the domain root are redirected, but requests to various routes aren't. I had http://winds.getstream.io/app/personalization-feed bookmarked, which doesn't redirect to https

[2016-11-23 18:32] nparsons08 commented on #57
I see the issue now. We're doing a client side redirect. A server side
redirect will come soon (next 24-48 hours) to allow for a permanent
redirect. We want all users on HTTPS for security reasons. Can you update
your bookmark for the time being? Sorry about that.

On Wed, Nov 23, 2016 at 11:26 AM Mark Lapierre <notifications@github.com>
wrote:

[2016-11-23 18:33] mlapierre commented on #57
No problem, already done, just wanted to let you know :)

[2016-11-23 18:35] nparsons08 commented on #57
Thanks for the heads up. Very much appreciated! 👍

[2016-11-23 18:35] #57 closed

[2016-11-23 18:53] hyperfekt commented on #53
I'd love to be able import the news articles from my Twitter retweets, as I've already built a humongous profile of content I'm interested in there, and many others certainly too.

[2016-11-23 21:03] tschellenbach opened #58 "CSS isn't updated in native app"
Looks like some sort of caching issue:

![image](https://cloud.githubusercontent.com/assets/265409/20578652/9ad25c08-b185-11e6-80e0-133f4fae3741.png)

[2016-11-24 03:26] sifex opened #59 "Cannot add feed that includes ccTLD (Country Based URL)"
Cannot add a URL that includes a Country Coded TLD.

**Example:**
ucunion.com works fine, but ucunion.com.au doesn't.

Looks like this is due to inbuilt pattern in the regex. See Screenshot Below
<img src="https://cloud.githubusercontent.com/assets/2058557/20585782/e4ef6714-b251-11e6-821a-61e545acab70.png" />

**Page:**
https://winds.getstream.io/app/personalization-feed

**Browser:**
Chrome/macOS

[2016-11-24 10:25] ashleypt commented on #10
@nparsons08 @0xCMP

Hey guys, so I've dived in today and so far I've got Winds installed and running just normally on my ubuntu box as a sanity check. I've also followed through on https://docs.sandstorm.io/en/latest/vagrant-spk/installation/ up to the section where I'll need to check out vagrant-spk on git.

Some points

1. Do you guys have any tips for how to integrate this with sandstorm? My cu

[2016-11-25 04:10] artivilla opened #60 "Discussion: Shrinkwrapping dependencies"
Not sure how prevalent this is in OS, but I just had a linter error and realized I had to stick to a previous version for my `eslint-plugin-jsx-a11y` devDependency. Have you considered shrinkwrapping dependencies?

[2016-11-26 06:00] nparsons08 commented on #59
Hey @sifex, good find. Do you mind making a PR with a quick fix to the regex pattern? I'll happily accept. Thanks!

[2016-11-28 15:55] nparsons08 commented on #59
Good PR! Thank you! 👍

[2016-11-28 15:55] #59 closed

[2016-11-28 16:12] nparsons08 commented on #58
Fixed caching issue - https://github.com/GetStream/Winds/releases/tag/v0.2.0

[2016-11-28 16:12] #58 closed

[2016-11-28 16:17] nparsons08 commented on #54
Hey @anonsubmitter, this should be fixed in our latest release (0.2.0). Please let me know if the issue persists and we can re-open the case. Thanks for your help!

[2016-11-28 16:17] #54 closed

[2016-11-28 16:34] nparsons08 commented on #10
Hey @0xCMP, thanks for diving into Winds. We appreciate the added support. I'd follow the directions on getting started, as they are pretty in depth and cover most cases. If you have specific questions, you can join our Slack channel here: https://winds-rss.herokuapp.com/. Feel free to DM me there w/ any questions.

[2016-11-28 16:34] #10 closed

[2016-11-28 17:11] nparsons08 commented on #60
Hey @artivilla, as you are aware, we are actively working on the Winds RSS platform. That being said, we're going to keep upgrading NPM dependencies as they become available.

I understand that this is a pain, so I would suggest that you pull often and always run `npm update` when available. It's also a good idea to always be on the bleeding edge of Node.js as this is what we intend to run on.

On

[2016-11-28 17:11] #60 closed

[2016-11-28 17:28] nparsons08 commented on #10
Quick update. We've moved away from Slack and are implementing a Gitter channel. You can find it here: https://gitter.im/GetStream/Winds. Cheers! @0xCMP

[2016-11-28 17:41] nparsons08 commented on #22
@julianxhokaxhiu The default now runs on port 8080. I hope this works for you! :)

[2016-11-28 17:41] #22 closed

[2016-11-28 17:45] #12 closed

[2016-11-28 17:49] nparsons08 commented on #39
@tschellenbach What are your thoughts on this / how to implement?

[2016-11-28 18:40] nparsons08 commented on #45
Fixed in latest push - https://github.com/GetStream/Winds/commit/983b7abdf9832986d4fcf8ea68216146b9cf72fd

[2016-11-28 18:40] #45 closed

[2016-11-28 18:40] nparsons08 commented on #45
@julianxhokaxhiu 👍

[2016-11-28 18:42] nparsons08 commented on #15
@akshatgoel Is this something that you decided to pickup for a future PR? If not, we'll pick it up internally in a future release. Please let me know so we're not overlapping on dev :) 💯

[2016-11-28 18:43] #1 closed

[2016-11-28 18:57] nparsons08 commented on #55
https://www.npmjs.com/package/opml-generator looks like a good candidate for this task.

[2016-11-29 03:38] akshatgoel commented on #15
@nparsons08 Apologies for the delay. I have been a bit busy with day job and couldn't give time to this.
You can go ahead with the fix. I will pick something else once I am free :)

[2016-11-30 17:07] nparsons08 opened #63 "Idea: Curated/Personalized Weekly Email"
Send out an optional curated/personalized email on a weekly basis featuring popular blog posts.

[2016-11-30 17:19] nparsons08 opened #64 "Enhancement: Social Sharing - Buffer Extension"
Add Buffer to list of social options

[2016-11-30 17:32] mlapierre commented on #63
Would the email be composed of popular blog posts on sites the user _doesn't_ subscribe to? That could be a useful alternative to suggested feeds, although I think I'd prefer an in-app list of suggested feeds showing a selection of curated/personalized posts from each feed.

[2016-11-30 17:43] nparsons08 commented on #63
@mlapierre We're not sure just yet. It's something that we are still planning out. What would you prefer? We are rolling out an in-app suggested feeds component early the coming days. I'll ping you here when we release the feature.

[2016-11-30 17:46] #64 closed

[2016-11-30 18:03] nparsons08 opened #66 "Bug: Duplicate feeds (HTTP vs HTTPS)"
When a URL is provided, it can sometimes cause a duplicate entry if the protocol is http or https. This is because they are essentially different URLs.

Fix: Remove protocol before submission and run through normalize.js

[2016-11-30 19:35] mlapierre commented on #63
Well, I know some people prefer email to RSS so it might be useful for them, but I would prefer something within the app.

[2016-11-30 19:35] nparsons08 commented on #63
Cool. Stay tuned!

[2016-12-02 17:12] nparsons08 opened #70 "Enhancement: Link on suggested feeds should be clickable"

[2016-12-06 22:26] mlapierre opened #73 "Can't merge recent changes on Windows"
I'm no longer to merge the changes as of commit e52514c4e08f1247f533c61e1f66393f2b67499b

One of the assets in the .tmp directory includes a colon in the path, which windows doesn't like:

[code]

[2016-12-06 23:23] nparsons08 commented on #73
Can you try running `git stash` and then `git pull`? That http directory/file was something that accidentally got merged into version control. Sorry about that.

[2016-12-06 23:23] #73 closed

[2016-12-06 23:49] mlapierre commented on #73
The actual file is still in master: .tmp/public/js/app/https:/dzgr2e2po1y82.cloudfront.net/styles/app/styles.css

[2016-12-07 12:11] mlapierre commented on #73
Incidentally, this is what would greet anyone starting out on Windows:

[code]

[2016-12-07 17:35] #70 closed

[2016-12-08 11:47] mlapierre commented on #73
I got around it by cloning on linux, removing the .tmp directory, then pulling from that clone into windows.

[2016-12-09 23:36] #53 closed

[2016-12-10 16:41] mlapierre commented on #29
I see there's now a heart icon to "like" articles.

Except it's applied to all articles in a feed, rather than to individual articles. Was that intentional?

[2016-12-12 18:26] #37 closed

[2016-12-12 18:27] #29 closed

[2016-12-12 20:26] danielbayley opened #83 "Automated install?"
For instance on macOS, ideally you would be able to install with [_homebrew-cask_](https://caskroom.github.io)…

[2016-12-12 21:25] nparsons08 opened #84 "Use enrichment to get number of likes on an article"
Instead of a request per article, use enrichment to get the number of likes server side.

[2016-12-12 21:26] nparsons08 opened #85 "URLSearchParams does not work on Safari"

[2016-12-12 21:32] nparsons08 opened #86 "Placeholder for password input is transparent on login (Safari)"

[2016-12-12 21:39] #85 closed

[2016-12-12 23:30] clickbrain opened #87 "Feed add showing clear or white text. Can't see entry"
Using Safari 10.0.1 on MacOS.

Click + sign in top right to add a feed. Get form to enter I assume a URL to a feed. When I type the feed, I can't see what I am typing, but cursor moves to right.

If I hit enter, nothing happens that is visible.

![winds____powered_by_getstream_io](https://cloud.githubusercontent.com/assets/963889/21121188/03ab5974-c099-11e6-929b-1a45a99f7875.png)

[2016-12-12 23:31] clickbrain commented on #87
Update: Just finished posting this and went back to Winds and the feed I typed in is loaded.

[2016-12-12 23:34] nparsons08 commented on #87
Hey @clickbrain, there's a known issue with placeholder colors not displaying properly in Safari. We'll get a fix shipped out as soon as possible. In the meantime, do you mind using Chrome for a better experience? Thanks!

[2016-12-12 23:35] nparsons08 commented on #83
@danielbayley Great idea. https://github.com/caskroom/homebrew-cask/pull/27694

[2016-12-13 01:05] danielbayley commented on #83
@nparsons08 Ah that's a simple cask actually… I should have just done it myself only I had briefly looked at the _Installation_ section of the README and figured it might be a bit more involved…

Nice one! 👍

[2016-12-13 02:41] clickbrain commented on #87
Hey Nick. This is Brad Nickel. We exchanged emails today about Safari.

[2016-12-13 19:21] #83 closed

[2016-12-13 19:22] nparsons08 commented on #83
@danielbayley Thanks! You can now run `brew cask install winds` to get the latest version of the native app!

[2016-12-13 19:28] nparsons08 commented on #87
Hey @clickbrain, out of curiosity, do any errors show up in your console after hitting enter? It sometimes takes a few seconds for our parser to follow redirects, etc. before parsing the RSS feed.

[2016-12-13 19:56] #66 closed

[2016-12-19 12:01] Haizone opened #88 "RTL support?"
hi
 do u have a RTL support

[2016-12-19 17:18] nparsons08 commented on #88
Hi @Haizone! At this time, we don't have plans to support RTL, however, we're open to pull requests! :)

[2016-12-19 17:18] #88 closed

[2017-01-04 18:17] tschellenbach opened #89 "Bug: RSS is outdated"
![image](https://cloud.githubusercontent.com/assets/265409/21653648/71ef7066-d2b2-11e6-89a0-f9e8ab122c59.png)

[2017-01-04 18:19] tschellenbach opened #90 "Tests are failing on master"

[2017-01-13 16:56] nparsons08 commented on #89
@tschellenbach I think our worker processes are having a hard time keeping up with the content. They do update the content, but not fast enough... so data appears to lag by about 5 hours to a day. It's intermittent.

[2017-01-13 17:00] iandouglas opened #91 "RSS feed not detected from Quora.com links"
Finding a topic on Quora, and adding "/rss" to the end of the URL presents you with an RSS feed of new posts within that topic, for example:

https://www.quora.com/topic/Python-programming-language-1/rss

Winds is currently unable to parse the RSS feed and reports a "Feed Missing" in the UI. The console reports a 502 error on the URL: https://winds.getstream.io/api/rss/discover?url=www.quora.com%2

[2017-01-13 17:03] #44 closed

[2017-01-13 17:08] iandouglas commented on #91
Does the RSS parser handle https links properly, or follow redirects if a server redirects to a secure URL if you attempt to fetch a non-secure version of the URL? I notice in the `url=` parameter that it has dropped the 'https://' portion of the URL I pasted into Winds.

[2017-01-14 01:26] the4ndy opened #92 "error on import of initial data"
I have run the command to import the initial data during an first time install on a fresh ubuntu 16.04 machine and I get this error/output

[code]

it doesnt matter if i run with or without sudo, same error
any ideas?

[2017-01-15 15:37] dwightgunning commented on #92
Not that Winds was initially developed with Node v7 so that's ideally what you should be running. You can check by running `$ node -v`

I also spotted that Ubuntu 16.04 ships with v4.2.6 and when I downgrade to that version I get the same error.

Assuming you just need to upgrade Node, try this guide for Ubuntu 16.04: https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubunt

[2017-01-15 16:29] dwightgunning commented on #86
As far as I can tell the issue isn't with transparency as such. It's simply that with the explicit height, border and line-height styles, the characters are overflowing and aren't visible.

[2017-01-15 22:28] dwightgunning commented on #90
__finds the tweakers rss feed__

The Tweakers webpage is interesting. It returns a HTTP 202 and a very slim HTML document containing a cookie consent form over the top of a fullscreen image that's a blurred version of their regular website. There's no real way to discover a feed without trying various alternative URLs based on the domain (e.g. /rss.xml /atom.xml).

_proposal_: If we want to come b

[2017-01-16 15:43] #86 closed

[2017-01-16 15:49] nparsons08 commented on #92
👍 on @dwightgunning's answer. @the4ndy, please upgrade your Node.js version or attempt to run with the --harmony flag.

[2017-01-16 15:49] #92 closed

[2017-01-16 15:57] #89 closed

[2017-01-16 15:57] nparsons08 commented on #87
@dwightgunning are you able to tackle this one? It should be nearly identical to the other task. If not, just let me know! :) 💯

[2017-01-16 23:15] dwightgunning commented on #87
PR #94 raised.

[2017-01-16 23:19] dwightgunning commented on #41
I like @hyperfekt's proposal in Issue #39 to let user's update feed names. That said we should fix this all the same. I'll take a look at this first.

[2017-01-17 16:03] #87 closed

[2017-01-18 19:11] dwightgunning commented on #90
@nparsons08 do you have thoughts on this?

[2017-01-18 20:05] dwightgunning opened #95 "Add Feed: Long URLs overlap the submit button"
The input field for adding feeds allows the URL to overlap the button, see below.

<img width="1223" alt="screen shot 2017-01-18 at 9 03 59 pm" src="https://cloud.githubusercontent.com/assets/454042/22080898/afd2e3d0-ddc1-11e6-9c40-e12a8abc0c46.png">

[2017-01-18 20:18] dwightgunning commented on #41
I'm actually struggling to replicate this.

AFAICS the feed title used within the Stream UI is set at SitesController:39-44 right after the DiscoverService.findRSS() returns discovers and extracts the metadata associated with the feed.

Git blame shows this block has changed since prior to the bug being raised. So perhaps I'm looking at this wrongly?

Currently I'm able to import the two example f

[2017-02-11 21:57] Newarr opened #96 "Polish UTF-8 characters displayed incorrectly"
I noticed that for some RSS feeds Polish UTF-8 characters are displayed incorrectly. I thought that it may be an issue with the RSS source itself, but in e.g. Inoreader they display correctly.

The link of the feed displayed below:   ##http://www.rp.pl/rss/1037

![winds -- powered by getstream io](https://cloud.githubusercontent.com/assets/22638839/22857801/f1a8477a-f0ac-11e6-9334-7663161b0c4f.jpg

[2017-02-13 06:25] artivilla commented on #15
Can I take a stab at this? Just want to clarify is this to delete or deactivate the user? Are we removing the user from the model?

[2017-02-13 06:32] dwightgunning commented on #15
Go for it; a PR would be great.

My preference would be to mark the account as inactive. The login, signup, password reset features should behave as if that user account doesn't exist.

[2017-02-14 14:52] artivilla opened #97 "Min .env setup to get Winds running locally"
So it's been a while but I updated my repo and tried getting my local setup working, it's giving me the following when attempting to run load_initial_data.js (using node v7):
[code]
So far I've setup my stream keys and API_BASE_URL only. Running node v7.

[2017-02-14 17:43] dwightgunning commented on #97
A secret value is needed for Passport's JWT authentication. It's unrelated to your winds keys and tokens. Just set the JWT_SECRET config variable in the `.env` file and you'll be good to go.

[2017-02-14 18:14] artivilla commented on #97
Details:TypeError: OAuth2Strategy requires a clientID option. Am I missing another config value?

[2017-02-15 07:43] artivilla commented on #97
Nvm. Got it! Was missing fb auth keys as well.

[2017-02-15 07:43] #97 closed

[2017-02-15 08:15] artivilla opened #98 "Extract SVGs"
Since this isn't a pressing issue but wanted to start with something a little simpler. Would be happy to extract svgs into their own setup. There are a few plugins, atomic-app/react-svg and boopathi/react-svg-loader come to mind. Thoughts on this?

[2017-02-15 08:48] dwightgunning commented on #97
Glad you got it!

We ought to explain these in the readme; I'll create an issue.

[2017-02-15 08:51] dwightgunning opened #99 "List and define required and optional config values in readme"
Lack of clear explanations for the environment variables caused me a few headaches and others too (#97).

Adding a list to the readme should be a step in the right direction.

[2017-02-15 18:53] dwightgunning commented on #98
Interesting; I've not seen these projects as I'm relatively new to react. What are the main benefits; improving the modularity and readability of the codebase?

[2017-02-15 21:52] artivilla commented on #98
Pretty much for starters, also the svgs can get cached if served from a siloed dir. But mostly readability and reuse.

[2017-02-20 16:34] artivilla commented on #95
How would you like to fix this? Reduce font size or adjust the font size based on characters?

[2017-03-30 14:49] 2knarf opened #102 "Feeds are not refreshed"
Hello, I'm trying the Demo, and when i add feeds it says:

Feed missing

This happens on:

https://access.redhat.com/blogs/766093/feed

It does not always happen, but when I add feeds sucessfully they show up empty.

Any tips?

[2017-04-04 12:35] cesdperez opened #103 "Can't create an account"
I'm trying to sign in using my email, but every time it says `INVALID EMAIL OR PASSWORD`. If I try to sign in with Facebook it doesn't work either (this time it redirects to a page saying `The Internet is working (but Winds is not)`).

The email I'm ussing is `cesdperez@gmail.com` and tryied different passwords.

I'm using [winds.getstream.io]().

Browser: Chromium 57.0.2987.110

[2017-04-28 12:50] #99 closed

[2017-05-17 11:24] huntercarter commented on #103
I'm experiencing the same issue.

[2017-05-17 18:23] artivilla commented on #103
Can you try clearing your storage and trying again: https://cloudup.com/cdncuquxhXT

[2017-05-18 02:09] huntercarter commented on #103
No luck. That seems to have corrupted the install, because before I was able to subscribe to topics. Now the page at http://localhost:1337/app/getting-started says "select 3 to continue" but nothing is available to select.

[2017-06-04 15:01] owldroid commented on #103
please video instruction to how install winds to localhost

[2017-06-20 07:29] untotren opened #106 "FIX DEMO LINK"
THE DEMO LINK IS NOT A DEMO LINK, JUST A LINK TO THE SERVICE.  MISLEADING, FIX THIS IMMEDIATELY.

[2017-06-20 07:32] tschellenbach commented on #106
The demo link points here: https://winds.getstream.io/
Which is just a hosted version of this github repo.

[2017-06-20 07:32] #106 closed

[2017-06-20 07:35] untotren commented on #106
I cant see anything of how it functions, it requires an account and it is essentially a marketing page for this software.

[2017-06-20 07:42] tschellenbach commented on #106
that's true, you need an account if you want to play around with it.
(you could install it locally and create an account in your version of the software)

[2017-06-20 13:12] untotren commented on #106
Not really a demo then

[2017-06-20 22:06] Yathushan opened #107 "Docker Container Issue"
Just pulled the latest image using:

`docker pull getstreams/winds`

When attempting to start a container with the image for the first time, I get the following error:

`sed: can't read process.json: No such file or directory`

Looking at the Dockerfile, it references to process.json which does not exist in the image.

Can this be changed to either process_dev.json or process_prod.json instead?

[2017-09-03 07:02] aipie0066 commented on #107
me too

[2017-09-14 08:34] Yannsb opened #110 ""Invalid OPML""
Hi !

I tried to import this file (transformed into txt for this post) into Winds from Feedly, however Winds considers it as an "invalid opml". [feedly-5277d6de-0eb5-48d7-9534-4b1809e45613-2017-09-14.opml.txt](https://github.com/GetStream/Winds/files/1302327/feedly-5277d6de-0eb5-48d7-9534-4b1809e45613-2017-09-14.opml.txt)

Can you say why and how to fix it ?

Thank you !

[2017-09-14 09:19] dwightgunning commented on #110
Hi, thanks for your note!

I just ran your OPML file through a validator and it looks fine to me. I've attempted to import it into my own Winds account but I don't receive any error.

Can you share to where you saw a message indicating it's "invalid ompl"? I don't see this on page or in the console. It will be helpful to properly replicate what you're seeing.

I'll also assign this issue to Nick,

[2017-09-14 12:42] Yannsb commented on #110
Hi, thanks you for your quick help :)

The message is at this url "https://winds.getstream.io/app/subscriptions#", after clicking on "Import OPML" ![capture](https://user-images.githubusercontent.com/10559729/30430072-48a7c28e-995a-11e7-9d1c-bf2f901d9b12.PNG)

I can't add new links manually either...

In retrospect, I wonder if it's not due to the fact that I didn't select the 3 themes at registra

[2017-09-15 08:24] Yannsb commented on #110
In creating a new account and following the conventional user path, the problem is resolved...

[2017-09-15 08:34] Yannsb commented on #110
I had created my account from the "login with facebook"option. I have recreated a new account with my email address. I notice that i didn't have an account icon, now I have one. I tried to import the OPML, no error button this time but no update of my subscriptions either...

[2017-09-15 08:40] dwightgunning commented on #110
I believe this is the same issue I was experiencing with my account.

So I'd say there are potentially three issues here for further investigation:

1. OPML imports not functioning / no error returned.
2. Facebook signup creates account in an invalid state where OPML upload results in an error
3. Manually adding new RSS feeds reports "Feed Missing" error.

[2017-09-15 08:50] Yannsb commented on #110
My Winds "facebook signup" account is on my Firefox navigator. It missing User account icon. I can't disconnect even by cleaning the cache and the cookies 🐙
![capture](https://user-images.githubusercontent.com/10559729/30474118-ded3d04c-9a02-11e7-8b46-7dfa9406bc20.PNG)
My "valid" account is on my chrome navigator. Manual entry works well but not the OPML import who don't add any new subscription.

[2017-09-20 08:05] dwightgunning commented on #110
Assigning @nparsons08 to take a quick look at this and suggest how we ought to proceed.

[2017-09-20 08:29] dwightgunning commented on #103
Apologies folks, this issue slipped through. We're just getting started on a major update to Winds and we'll definitely look to address these types of challenges and friction with the local install and signup/auth.

I'll assign to @nparsons08 as he's got the lead on Winds.

[2017-09-20 17:33] #84 closed

[2017-09-20 17:54] #56 closed

[2017-09-20 20:08] #98 closed

[2017-09-20 20:09] #103 closed

[2017-09-20 20:10] nparsons08 commented on #107
@Yathushan @aipie0066 Docker support is currently out of the scope of what we can support (at the moment). To fix the issue, please clone the repo and raise a PR with a fix. Thank you!

[2017-09-20 20:10] #107 closed

[2017-09-20 20:13] nparsons08 commented on #15
Since there hasn't been any activity around this topic, we're going to close the issue. Please submit a PR if you're interested in adding this functionality. Thank you!

[2017-09-20 20:13] #15 closed

[2017-09-20 20:15] nparsons08 commented on #39
Since there hasn't been any activity around this topic, we're going to close the issue. Please submit a PR if you're interested in adding this functionality. Thank you!

[2017-09-20 20:15] #39 closed

[2017-09-20 20:16] nparsons08 commented on #55
Since there hasn't been any activity around this topic, we're going to close the issue. Please submit a PR if you're interested in adding this functionality. Thank you!

[2017-09-20 20:16] #55 closed

[2017-09-20 20:17] #63 closed

[2017-09-20 20:20] #18 closed

[2017-09-20 20:20] nparsons08 commented on #96
Since there hasn't been any activity around this topic, we're going to close the issue. Please submit a PR if you're interested in adding this functionality. Thank you!

[2017-09-20 20:20] #96 closed

[2017-09-20 20:24] nparsons08 commented on #95
Since there hasn't been any activity around this topic, we're going to close the issue. Please submit a PR if you're interested in adding this fix. Thank you!

[2017-09-20 20:24] #95 closed

[2017-09-20 20:26] nparsons08 commented on #41
Since there hasn't been any activity around this topic, we're going to close the issue. Please submit a PR if you're interested in adding this functionality. Thank you!

[2017-09-20 20:26] #41 closed

[2017-09-20 20:30] nparsons08 commented on #91
This issue will be addressed in the next release of Winds (with the updated OPML parser). Closing out the issue for now.

[2017-09-20 20:30] #91 closed

[2017-09-20 21:45] nparsons08 commented on #102
@2knarf I attempted to reproduce the issue; however, I was unable to do so. Please see the attachment below. Due to the age of this issue, I'm going to go ahead and close it out. If you experience the issue again, please open up a new ticket outlining any errors that may appear in your console or network tab, along with your environment (OS, Browser, etc.). Thank you!

![2017-09-20 at 3 44 pm](htt

[2017-09-20 21:46] #102 closed

[2017-09-20 21:59] nparsons08 commented on #110
@Yannsb Any chance you can provide me with a bit more information (OS, browser & version, etc.)? I'm unable to fully reproduce, as I'm experiencing the same result as @dwightgunning :(. I am noticing some wonky CSS on your side – are you on IE by chance? Also, are you seeing any error messages in your dev console or network? Thanks!

[2017-09-21 03:06] artivilla commented on #15
@nparsons08 I did submit a PR #101 but didn't get any feedback, happy to work on it but new to node so I'm sure it's missing quite a few things.

[2017-09-21 16:50] nparsons08 commented on #15
@artivilla Awesome. I'll take a look at the code and try to get it merged. Your help is much appreciated. Also, we'd love to send you some swag -- can you send your contact info to nick@getstream.io? Thanks!

[2017-09-22 15:44] nparsons08 commented on #90
This issue will be resolved in the next release. Closing out for now.

[2017-09-22 15:44] #90 closed

[2017-09-25 20:30] alan-garcia opened #111 "Import OPML from Thunderbird client not working"
Hello,
I tried to import this file from Thunderbird email client (renamed to .txt extension for here). Finish importing but nothing happens, it remains the same as before importing it (it's that to say, nothing changed).

[feeds.opml.txt](https://github.com/GetStream/Winds/files/1330790/feeds.opml.txt)

P.D: I'm testing it from the web app (https://winds.getstream.io)

Thank you!

[2017-09-29 07:38] Yannsb commented on #110
Hello,
excuse me for the response time.
I'm on Firefox 55.0.3 (64-bit) and Windows 7.
There is this error in the console "JQMIGRATE: jQuery.browser is deprecated" when i try to import the OPML file but i don't know if it is related.
Do you need more information?
Thank you for your help

[2017-09-29 13:23] #111 closed

[2017-09-29 13:23] dwightgunning commented on #111
Hi @alan-garcia thanks for the report. This is a dup of #110 and we've got some conversation happening over on that issue. Short story is that this will likely remain unfixed as we're currently working hard on Winds 2.0.

Closing. Feel free to comment / discuss further and we can re-open if appropriate.

[2017-10-02 15:07] nparsons08 commented on #110
Hey @Yannsb, thank you for the information. It's definitely possible that it is a front-end issue; however, we're also seeing an unknown issue causing the RSS scraping to fail. After chatting internally, we have decided to close this one out as we're working on a new version of Winds (v2.0). I think you'll be impressed. Stay tuned!

[2017-10-02 15:07] #110 closed

[2017-10-03 15:32] Colir opened #112 "Bypass auth"
Hi.
i've just install Winds on my localhost.
I'm looking for a way to bypass the auth process (i never receive email, the registration process just not work).

Is it possible ?

than ks you

[2017-10-04 15:29] nparsons08 commented on #112
Hi @Colir, eliminating auth would require some code modifications on your end. I'd start with the main file. We're actively working on Winds 2.0, so I would suggest holding off on development unless you really enjoy this edition. :)

[2017-10-04 15:29] #112 closed

[2017-10-19 21:49] thundergolfer opened #114 "SESSION_SECRET not documented in README.md"
In the `README.md` there's a helpful section explaining the purpose of all the variables in the `.env.example` file. It appears to me that `SESSIONS_SECRET` is not in that section of the README, though it is in `.env.example`.

Would be good to add it in as it is less confusing for people new to the project.

Cheers,

jono

[2017-10-21 16:37] GokuderaElPsyCongroo opened #115 "Help for windows installation"
Hello,

Sorry, I'm a total noob to this, but I can't manage to install the app on Windows. The installation tuto seems to be tailored for OSx or Linux, because I can't use the brew command or anything else. Help please ?
I tried the demo, your app looks wonderful.

Thank you,

[2017-10-24 15:53] nparsons08 commented on #114
Hey there @thundergolfer, any chance you can submit a PR with the necessary addition? Thank you!

[2017-10-24 15:53] #114 closed

[2017-10-24 15:55] nparsons08 commented on #115
Hey @GokuderaElPsyCongroo, we are deprecating this project in favor for a newer version of Winds that is coming out next month. With that said, we will offer Windows support for that release via Electron. As of now, I would suggest poking around the docs and looking up how to build a release for Windows (I currently do not have access to a Windows machine). Thanks!

[2017-10-24 15:55] #115 closed

[2017-10-24 22:20] thundergolfer commented on #114
@nparsons08 Yep, probably can.

[2017-10-25 11:24] cfq20 opened #116 "Restoring a working Docker image"
Hi,

I would like to run winds from a Docker container. The official image build currently is failing on Docker Hub and this is because of a reference in both Dockerfile and docker-entrypoint.sh to the missing file process.json. I changed this reference to process_prod.json and successfully rebuilt the image, however when I run the container I now get a different error which causes it to stop. Thi

[2017-10-26 12:28] cfq20 commented on #116
After giving it another look, I realised it is necessary to register an account on getstream.io to get an app ID, API key and secret and an analytics token from the dashboard and to set required environment variables in order for Winds to work.

The error above indicates just that, so this issue can be closed now.

[2017-10-26 18:58] #116 closed

[2017-11-20 16:54] Yanchek99 opened #119 "Unable to install client from Homebrew"
According to README `brew cask install wind` should install the Mac client.  However I get the following

[code]

[2017-11-28 16:07] truckershitch opened #120 "Can Facebook functionality be disabled?"
I'd like to avoid Facebook as much as possible.  Can this be done?

[2017-11-28 16:32] nparsons08 commented on #120
Hello, this can absolutely be disabled in a custom fork of the project. Just tear out the guts related to Facebook :) Unfortunately, we don't have a toggle for it. Stay tuned for v2.0 which is coming out next month!

[2017-11-28 16:32] #120 closed

[2017-11-28 16:33] nparsons08 commented on #119
Hello, our Homebrew support has been deprecated as we're working on Winds 2.0. Stay tuned for an update next month!

[2017-11-28 16:33] #119 closed

[2017-12-02 11:12] truckershitch opened #121 "Problem loading initial RSS data"
I am receiving the same error on both machines when trying to load the initial RSS data in Linux with the localDiskDb connection.  I have been unsuccessful with a mysql connection as well.

Your help would be greatly appreciated.

[code]

[2017-12-04 18:57] nparsons08 commented on #121
Hi @truckershitch, can you verify that you've set all of your ENV values? Also, this application requires a MongoDB connection string, not MySQL... just a heads up.

[2017-12-05 01:24] truckershitch commented on #121
I have set my ENV values, but I have been trying to use sails-disk and sails-mysql, as I have MySQL installed on the machine already.  I was able to get the initial data loaded by setting `migrate: alter` in `config/connections.js` and then reverting to `migrate: safe` to run the application, but I was unable to see the feeds in the application afterwards.  I have seen this working in the docker i

[2017-12-05 19:09] nparsons08 commented on #121
Unfortunately, we've pegged this version to use MongoDB. I would recommend using [MongoDB Atlas](http://mbsy.co/mongodb/228644) (they have a free offering) so you don't have to install it locally. Please let me know if that works!

[2017-12-06 11:10] truckershitch commented on #121
Well, I put MongoDB on an Odroid C2 and I can get the initial data loaded without errors.  I can start the application, but I cannot see any feeds in the web browser, so I cannot create an account.  I don't know where the logs are so that I can show you.  Looking at the pm2 log seems to show progress, showing only errors when there is an errant feed, and I see that the data was read at your websit

[2017-12-06 23:16] nparsons08 commented on #121
@truckershitch Can you email me a log file and we can go from there? nick@getstream.io. Thanks!

[2017-12-06 23:16] #121 closed

[2017-12-11 09:36] jodumont opened #122 "You're demo is down.."
Hi;

You're project seems awesome but with a down demo it's looks like an abandoned project
https://winds.getstream.io/

[2017-12-11 17:41] nparsons08 commented on #122
Hey @jodumont, we're actually under active development of Winds v2.0. I think you'll really enjoy it. Here's a quick read on 2.0 for you:

https://medium.com/getstream-io/announcing-winds-2-0-an-electron-app-with-support-for-rss-podcasts-d13dbe812477

Keep an eye on the project (we'll also send you an email) for updates. Sorry for the confusion!

[2017-12-11 17:41] #122 closed

[2018-01-01 16:52] Yakito opened #123 "Does Winds 1.0 still works?"
Hi, Happy new year!

I know Winds 2.0 is under development, but I would like to try out Winds 1.0 in the meantime. The problem is that after following every step I still can not make it work. I found some issues during the installation, which I solved, but then when I try to launch the app and redirect my browser it fails.

Does anyone know if Winds 1.0 still works? Any tips on how to make it work

[2018-01-05 00:21] nparsons08 commented on #123
Hey there @Yakito, lead maintainer here. Winds 1.0 definitely still works if the application is set up correctly. I can't offer support for it though as 2.0 is underway and taking up a lot of my time. If there's something super specific you're having trouble with, I'll do my very best to help you out.

[2018-01-05 00:21] #123 closed

[2018-01-05 12:31] Yakito commented on #123
Thanks Nick ,I will try the installation again and if I got a roadblock
I'll post it in case you can help.

On Jan 4, 2018 21:21, "Nick Parsons" <notifications@github.com> wrote:

[2018-01-06 04:53] Yakito commented on #123
Hey @nparsons08 , finally I managed to install the app (the install procedure is slightly different than the one on the docs) but I got errors when adding the starter feeds. I bypassed those errors by creating an account with Facebook (again, slightly different than just adding the credentials) and finally was able to log in.

Now the problem I am having is that I am not able to add any feed. It d

[2018-01-08 15:30] nparsons08 commented on #123
Hello, have you configured your feeds properly on GetStream.io?

[2018-01-08 16:54] Yakito commented on #123
Hello Nick, thanks for your time. I think I did, but if you think that might be the error I will try creating a new account on getstream and starting all over again.

I'll get you posted.

[2018-02-21 06:35] akaJedi opened #124 "Link is broken"
Hi, just noticed that some link is broken, please check it out.
" This tutorial explains how the personalization API works ([blogpost](https://bit.ly/personalization-winds)). "

link from example point to https://bit.ly/personalization-winds , after that redirect to  https://getstream.io/personalization-machine-learning-news-feeds-social-networks/ and I got **400 error... We ran into some unexpect

[2018-02-21 18:16] nparsons08 commented on #124
Looking into the issue, @akaJedi. Thank you for reporting.

[2018-02-21 18:38] #124 closed

[2018-03-20 16:55] zeroby0 opened #125 "Requesting source of image used."
Hi,

I'm creating this ticket here because I couldn't find the IRC or similar channel of you guys. Apologies if it's the wrong place.

Could you guys please give me the source to the image behind 'Welcome Nick!' in this image used in https://getstream.io/winds/#.

![screen shot 2018-03-20 at 10 23 15 pm](https://user-images.githubusercontent.com/16903044/37669654-6a20aedc-2c8d-11e8-8b5b-64e76b53e8

[2018-03-20 16:57] zeroby0 opened #126 "Download button broken."
Hi,

This issue is to report that the download button at https://getstream.io/winds/ points to 'https://getstream.io/winds/#', and hence doesn't download anything.

Thanks.

[2018-03-25 02:44] goufang opened #127 "Node Sass could not find a binding for your current environment: OS X 64-bit with Node.js 8.x"
Uncaught Error: Module build failed: ModuleBuildError: Module build failed: Error: Missing binding usr/projects/Winds/node_modules/node-sass/vendor/darwin-x64-57/binding.node

After follow all of the instructions for the installation, I am not able to resolve the above issue.  Tried npm rebuild node-sass and npm uninstall node-sass none of the options worked for me.

my current node version is 9.0

[2018-03-25 03:02] goufang commented on #127
$ node -p "require('node-sass').info"
node-sass	4.8.3	(Wrapper)	[JavaScript]
libsass  	3.5.2	(Sass Compiler)	[C/C++]

[2018-03-26 18:17] goufang commented on #127
This issue is caused by the Chrome browser cache

[2018-03-26 18:17] #127 closed

[2018-03-26 19:13] goufang opened #128 "Getting multiple errors after installation"
http://localhost:1337/api/stream/personalized?limit=25&offset=0&version= 500 (Internal Server Error)
(anonymous) @ Sync.js:76
(anonymous) @ index.js:14
Promise.then (async)
(anonymous) @ index.js:89
dispatch @ applyMiddleware.js:37
(anonymous) @ Feeds.js:43
(anonymous) @ index.js:11
Promise.then (async)
(anonymous) @ index.js:89
componentWillMount @ index.js:131
(anonymous) @ ReactCompositeCompone

[2018-03-28 05:57] dwightgunning commented on #126
Thanks for the report. We're close to launch but not quite ready for downloads ;)

We've revised with a form where you may leave your email and be notified of the launch.

[2018-03-28 05:57] #126 closed

[2018-03-28 15:17] tilton commented on #125
Hey Dwight- We killed that when we changed that section to showcase "featured" publishers. It is now this:

![2018-03-28 at 9 16 am](https://user-images.githubusercontent.com/1737904/38038713-d84ec728-3268-11e8-8d44-f1c5d49574b6.png)

[2018-03-29 00:38] #125 closed

[2018-03-29 00:38] dwightgunning commented on #125
@zeroby0 - what was the interest here? Perhaps send me an email - dwight@getstream.io.

I'll close issue this for now.

[2018-04-03 17:32] nparsons08 commented on #128
Hi there, this is most likely due to an outdated version of Node.js. Can you please try with the specified version in the README.md file? As a side note, we'll be releasing a beta version of v2.0 in the coming days. You can sign up for beta access at https://getstream.io/winds. Cheers!

[2018-04-03 17:32] #128 closed

[2018-04-17 20:18] kenhoff opened #129 "Wow, that's a lot of RSS feeds and podcasts!"
Hey folks - we're getting a huge influx of RSS feeds and podcasts. Guess the beta version of Winds 2.0 is pretty popular! I'm sorry that it's taking us longer than we thought to process all these RSS feeds and podcasts - thanks for being patient with us. I'll close this issue out once we're all caught up.

Thanks!

[2018-04-17 22:00] kenhoff commented on #129
Appears to be all caught up - closing.

[2018-04-17 22:00] #129 closed

[2018-04-18 16:54] BrightnBubbly opened #130 "Larger Draggable Area"
Hey Team!

Can you make more of the header draggable? I managed to drag the window part way off the screen and I can't get it back....

Thanks!
(feel free to pass along a feature request and/or bug template if that is preferable)

[2018-04-18 18:17] kenhoff commented on #130
Hey, thanks for the feedback! Yup, we'll add some more draggable zones on the app here. I'll close this once we've fixed and deployed.

[2018-04-20 20:41] kenhoff commented on #130
Should be all fixed now - feel free to download the new version from the link that pops up in the app, or from https://getstream.io/winds/.

Thanks!

[2018-04-20 20:41] #130 closed

[2018-04-20 21:46] tschellenbach opened #131 "Blurry images"
![image](https://user-images.githubusercontent.com/265409/39075241-04774040-44b2-11e8-986f-fcd5830d55e5.png)

[2018-04-21 18:47] tschellenbach opened #132 "Feed Reloading"
The content in the feed is outdated:

![image](https://user-images.githubusercontent.com/265409/39087682-e1cb3e38-4561-11e8-8e16-de292034e0b0.png)

After refreshing the page its even more outdated...

![image](https://user-images.githubusercontent.com/265409/39087701-1ec9f7e8-4562-11e8-9c49-d2ba6c0f4739.png)

[2018-04-21 18:49] tschellenbach opened #133 "View on Github link"
The left part of the link opens an electron based browser. The right part of the link opens in Chrome.

![image](https://user-images.githubusercontent.com/265409/39087713-58fb19a6-4562-11e8-834d-4fbf345a32e8.png)

They should both open in chrome.

[2018-04-21 18:52] tschellenbach opened #134 "Removing a like doesn't work"
If you remove the like the icon doesn't go back to its original state. (tested this on a comment)

[2018-04-21 20:13] tschellenbach opened #135 "Scraping delay"
roughly 5-10 minutes since I added it:

![image](https://user-images.githubusercontent.com/265409/39088388-2598d2a4-456e-11e8-8b3a-0e3ddcde379c.png)

[2018-04-24 20:02] nparsons08 commented on #134
@tschellenbach Did anything jump out in your console or network tab?

[2018-04-26 20:48] nparsons08 commented on #134
Resolved in https://github.com/GetStream/Winds/pull/142

[2018-04-26 20:48] #134 closed

[2018-04-26 21:24] kenhoff commented on #131
Fixed in #140

[2018-04-26 21:24] #131 closed

[2018-04-28 15:26] dylan-k opened #147 "Winds hosted app shows apache startpage"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. Read in several places online about the amazing Winds hosted app
2. go to http://winds.getstream.io/
3. "Apache2 Ubuntu Default

[2018-04-30 15:18] nparsons08 commented on #147
@dylan-k We're looking into this issue. For now, please use **https://getstream.io/winds**. Thank you for bringing this to our attention!

[2018-04-30 21:53] nparsons08 commented on #147
@sirio7g

[2018-05-01 21:30] kenhoff commented on #132
Fixed in https://github.com/GetStream/Winds/commit/4feacb03019f53e34f69cf1c40f030729101df78

[2018-05-01 21:30] #132 closed

[2018-05-02 23:23] tschellenbach opened #151 "Adding a new RSS feed doesn't update application state"
### Description

Adding a new RSS feed doesn't update application state

### Steps to Reproduce

1. Open the RSS reading view (click Read)
2. Add an RSS feed (IE https://feld.com/feed)
3. Wait

**Expected behavior:**

Expect the menu that says My RSS Feeds to update with Brad Feld's blog

**Actual behavior:**

Nothing

**Reproduces how often:**

Always. Also tried with https://alexiskold.net/feed/

[2018-05-03 14:46] JelteF opened #152 "hackernoon articels show the same image twice"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

For hackernoon articles the same image is shown twice

### Steps to Reproduce

1. Open winds
2. Click a hackernoon article
3. see a duplicate image

**Expected behavior:** Only see t

[2018-05-03 14:53] JelteF opened #153 "Media bar issues"
There's a couple of issues I have with the media bar:
- Once shown, it can only be hidden by refreshing the page
- When fully scrolled down it is on top of the last piece of the page so you cannot read the last item:
![hide-bottom](https://user-images.githubusercontent.com/1162278/39584314-6e990c34-4ef2-11e8-92d1-47e796c0a387.png)

[2018-05-03 14:56] JelteF opened #154 "Refresh doesn't remember what you were listening to or the position"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

When pressing Ctrl+R to refresh the interface the page your on stays the same, but the podcast stops playing and the position you were at is lost.

### Steps to Reproduce

1. Star a

[2018-05-03 14:57] JelteF opened #155 "User images all look the same"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Almost everyone has the Gravatar G image. It's nicer to use an identicon, so even if no image is known by gravatar at least everyone has something different. https://en.gravatar.com/

[2018-05-03 15:00] JelteF opened #156 "Nested scrolling is confusing"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description
There's multiple places where nested scrolling happens. On the main page and in the followers side bar. This is a bit confusing UX wise, because you never really know where you're gon

[2018-05-03 15:04] JelteF opened #157 "Back/forward mouse buttons don't work (Alt+left/right also)"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Common shortcuts for going back and forward on pages don't work inside winds, only the custom arrows at the the top left of the page work

### Steps to Reproduce

1. Click on a podca

[2018-05-03 15:17] JelteF opened #158 "Algolia search grows out of window for long titles"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

### Steps to Reproduce

1.  Shrink window a bit
2. Type stuff in the search bar

**Expected behavior:** For the results to stay inside the screen

**Actual behavior:** Before:
![befo

[2018-05-03 15:22] JelteF opened #159 "Search seems to rank articles/episodes much higher than feeds/podcasts"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Search results are not very good if you try to search for RSS feeds

### Steps to Reproduce

1. Search "hacker noon"

**Expected behavior:** Hacker noon RSS feed at the top of the re

[2018-05-04 15:55] tschellenbach opened #160 "The number of stars opens in an electron window instead of a browser"
![image](https://user-images.githubusercontent.com/265409/39637776-3fe006ec-4f81-11e8-9734-e97bb7c13a68.png)

[2018-05-04 17:11] kenhoff commented on #160
Duplicate of #133.

[2018-05-04 17:11] #160 closed

[2018-05-05 19:10] tschellenbach opened #161 "Reddit RSS feed support"
Reddit's feeds are popular but don't work:

![image](https://user-images.githubusercontent.com/265409/39666731-9c9f44ee-5065-11e8-9092-7ad0bee7d676.png)

[2018-05-05 19:10] tschellenbach commented on #161
- no link
- no content

[2018-05-05 22:14] tschellenbach opened #162 "Blank Page on Refresh"
Hit CMD+R to refresh. Blank page with this error:

![image](https://user-images.githubusercontent.com/265409/39667973-589a0e7c-507f-11e8-82e1-f20b232452b0.png)

[2018-05-05 22:15] tschellenbach commented on #162
On that note we should probably also run sentry client side. Trying to get users to share information about bugs related to state will be hard.

[2018-05-06 22:22] tschellenbach opened #163 "Broken Feed: https://blog.algolia.com/feed/"
Algolia blog feed doesn't load: https://blog.algolia.com/feed/

[2018-05-06 23:24] nparsons08 commented on #147
Resolved by @sirio7g

[2018-05-06 23:24] #147 closed

[2018-05-06 23:29] nparsons08 commented on #156
This was a design design made by Josh. Going to assign to him for the time being until we can figure out if it makes sense to come up with a solution or ignore it for now. Thanks for submitting this,.

[2018-05-06 23:38] nparsons08 commented on #152
We've noticed this on other feeds as well. I have a feeling it has to do with Mercury Parser @kenhoff. Not sure what we can do here...

[2018-05-07 02:11] RedL0tus opened #164 "Please provide binaries for platforms other than macOS"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * [x] Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I can only find macOS binary on the website.

### Steps to Reproduce

1. Go to the website.
2. Click download
3. Got a macOS binary.

**Expected behavior:** Multi-platform binari

[2018-05-07 07:14] tbarbugli opened #165 "Password reset flow is weak"
Current reset flow makes it super easy to hijack accounts:

1- only possible ~750k codes
2- reset password API handler is not rate limited
3- reset code is not cleared after password reset is done

project-name-generator is not meant for generating reset codes

[2018-05-07 07:15] tbarbugli opened #166 "Like barrier is super easy to game"
The check done to avoid double likes is simple to game:

- There is no database constrain to enforce only 1 like for same user/object combination
- Read/Insert barrier does not work with parallel requests
- Read query [here](https://github.com/GetStream/winds/blob/master/api/src/controllers/like.js#L74) is easy to trick since it uses the whole request body

[code]

![image](https://user-images.git

[2018-05-07 07:16] tbarbugli opened #167 "Playlist list UI time column"
- A better name is needed (eg. "Added at", "Length", ...)
- It shows `time` for all episodes

![image](https://user-images.githubusercontent.com/88735/39674280-bcd6d3a0-5149-11e8-9db6-be7c4043d36f.png)

[2018-05-07 07:16] tbarbugli opened #168 "Playlist UI - can't remove entries"
It would be nice to remove episodes from a playlist

[2018-05-07 07:17] tbarbugli opened #169 "Playlist mistery plus button"
![image](https://user-images.githubusercontent.com/88735/39674235-f3069f10-5148-11e8-8b4d-cd2f3e1abea5.png)

[2018-05-07 07:18] tbarbugli opened #170 "Draggable playlist UI"
You can use the episode list UI to drag the whole window

![naughtysecondhandleveret-small](https://user-images.githubusercontent.com/88735/39674209-9e19cf72-5148-11e8-83c9-f3fa478ddd44.gif)

[2018-05-07 07:18] tbarbugli opened #171 "Signup password length validation is off"
It says 8 chars are required but it gives green light after 5 chars

![image](https://user-images.githubusercontent.com/88735/39674296-e82d1ece-5149-11e8-9a23-a2f13de23c13.png)

![image](https://user-images.githubusercontent.com/88735/39674298-f2b8e24c-5149-11e8-8f41-4b87487bc36e.png)

[2018-05-07 07:19] tbarbugli opened #172 "It should not be possible to add duplicates to playlists"
![image](https://user-images.githubusercontent.com/88735/39674112-6602eade-5147-11e8-9bb9-ec537ac19d30.png)

[2018-05-07 07:20] tbarbugli opened #173 "Analytics week podcasts are suggested but can't be played"
![image](https://user-images.githubusercontent.com/88735/39672927-7c5f656e-5133-11e8-82d5-e0dc6f9c59e6.png)

https://analyticsweek.com/content/7-must-have-digital-marketing-tools-to-help-you-grow/

[2018-05-07 07:20] tbarbugli opened #174 "Signup with existing username raises a generic 500 error"
**The input**

![image](https://user-images.githubusercontent.com/88735/39674321-43d6a9ca-514a-11e8-9a81-0dea9a3973aa.png)

**The response:**

[code]

[2018-05-07 07:21] tbarbugli opened #175 "Link to Playlists is buried"
Finding your own playlists is hard, why don't we show a direct link from the profile dropdown?

![image](https://user-images.githubusercontent.com/88735/39674101-4c06b96c-5147-11e8-9cf8-106d4f4e2e51.png)

[2018-05-07 07:24] tbarbugli opened #176 "API rate limits"
Authenticated API calls for POST/DELETE/PUT/PATCH should be rate limited (eg. 60 req/min)

[2018-05-07 07:27] tbarbugli opened #177 "Blurry icons"
![image](https://user-images.githubusercontent.com/88735/39672867-b29bf256-5132-11e8-8533-6d42a36bbddf.png)

[2018-05-07 07:27] tbarbugli opened #178 "Add "Dismiss" to follow suggestions"
eg. I'd like to dismiss this one from the list of suggestions:

![image](https://user-images.githubusercontent.com/88735/39672898-1ef627dc-5133-11e8-888f-f993fe526a8e.png)

[2018-05-07 07:28] tbarbugli opened #179 "Unpinning does not work"
Unpinning raises a 401 - Not Authorized error

I removed the JWT from the curl command but it looked good

```curl 'https://winds-prod.getstream.io/pins/5aef0a33c1a20c545a38ffa2' -X DELETE -H 'Authorization: Bearer <REDACTED>' -H 'Origin: file://' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-US' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_1) AppleWebKit/537.36 (KHTM

[2018-05-07 07:28] tbarbugli opened #180 "Playlist UI clickable 0/1 (like toggle?)"
Next to the edit button there is a number that changes to 1 and to 0 each time you click it. Looking at the network tab it seems to be doing like/unlike requests. This is also visible on your own playlists but it should not (why would like like/unlike your own stuff?)

[2018-05-07 07:28] tbarbugli opened #181 "Added comments are not shown"
1- click to comment icon
2- post comment
3- the added comment does not show
4- click away
5- click comment icon
6- conversation is not updated
7- refresh button
8- it works now!

We should add the comment to the list right after the user clicks submit, the conversation should be reloaded every time the comment icon is clicked.

[2018-05-07 07:33] dwightgunning opened #182 "Confusing copy for a single feed on Add Feed confirmation dialog"
![screen shot 2018-05-07 at 9 31 12 am](https://user-images.githubusercontent.com/454042/39690183-81304f62-51d9-11e8-8fb5-1d92cfda3c1c.png)

However there is only one feed that can be chosen. Perhaps adjust the text according to the number of options available.

[2018-05-07 07:44] tbarbugli opened #183 "RSS link of the death"
Links inside articles are opened on the Winds app instead of browser, there is no way for the user to go back to the app (other than quit and reopen it).

[2018-05-07 07:51] tbarbugli opened #184 "Click on application title bar opens getstream.io in the browser"
I use the title bar to drag the app around but that also opens up the browser

[2018-05-07 07:53] tbarbugli opened #185 "Inconsistent UI for RSS feeds"
When you click on a RSS feed (after Read or Listen) sometimes you get the list of followers on the left column, sometimes not.

**Case 1 without followers:**

![image](https://user-images.githubusercontent.com/88735/39691013-5fcee5ec-51dc-11e8-8f55-fbc5b582c61d.png)

**Case 2 with followers:**

![image](https://user-images.githubusercontent.com/88735/39691021-65c8c436-51dc-11e8-837b-59e4c6dfa977.p

[2018-05-07 20:10] tilton opened #186 "RSS/ Podcast panel scroll behavior issues"
### Description

When I navigate to RSS/Podcast section the left sidebar has eractic behavior when it comes to scrolling. Ideal behavior would be exactly like scrolling a column in trello.

1) There are weird cut offs and gaps:
 ![2018-05-07 at 1 37 pm](https://user-images.githubusercontent.com/1737904/39722173-0000ff60-51ff-11e8-8abe-c95870637d64.png)

2) RSS: When I scroll an article I opened, t

[2018-05-07 20:39] kenhoff commented on #185
This is actually due to some feeds being "featured" and having a different UI layout - behaving as expected right now.

[2018-05-07 20:39] #185 closed

[2018-05-07 20:50] tschellenbach opened #187 "Draggable areas"
Only the topbar should be draggable

[2018-05-07 21:11] nparsons08 commented on #155
Fixed in https://github.com/GetStream/Winds/blob/master/app/src/components/Avatar/index.js

[2018-05-07 21:11] #155 closed

[2018-05-08 06:13] tbarbugli commented on #185
Changed from bug to regular issue (it still looks very weird)

[2018-05-08 09:22] tbarbugli opened #188 "RSS feeds can't be renamed/re-labeled"
Some feeds come with pretty terrible names:

eg. xkcd feed shows up as RSS 2.0

![image](https://user-images.githubusercontent.com/88735/39749001-ea293b04-52b1-11e8-8abd-af83866f0887.png)

It would be great if one could rename or pick a name when adding it

[2018-05-08 14:52] nparsons08 opened #189 "Back button on reset page is missing arrow SVG"
The back button on the password reset page should have an SVG arrow icon. https://cl.ly/1i3f0b1G242U

[2018-05-08 14:54] nparsons08 commented on #171
This issue has been addressed.

[2018-05-08 14:54] #171 closed

[2018-05-08 14:54] nparsons08 commented on #165
This issue has been addressed.

[2018-05-08 14:54] #165 closed

[2018-05-08 23:10] tschellenbach opened #191 "Voting on 2.1 Feature Set!"
Let us know what you're most looking forward to in the 2.1 release!

[2018-05-08 23:15] #184 closed

[2018-05-08 23:39] tschellenbach opened #192 "Podcasts & RSS feeds to Feature"
Send us your favorite podcasts and RSS feeds. We'll feature 1-2 feeds every week.

[2018-05-10 22:05] nparsons08 commented on #176
Complete

[2018-05-10 22:05] #176 closed

[2018-05-10 22:26] #179 closed

[2018-05-10 22:49] #161 closed

[2018-05-10 22:50] #163 closed

[2018-05-10 23:40] tschellenbach opened #200 "Planetary society"
1. Add this podcast http://www.planetary.org/system/rss/channel.jsp\?feedID\=328434498
2. Play an episode
3. Try to skip ahead

-> This error

![image](https://user-images.githubusercontent.com/265409/39899444-1db8a4e6-5479-11e8-94bd-d03d3fdee79c.png)

[2018-05-11 20:30] dylan-k opened #204 ""There was an error when attempting to create your account. Please try again later.""
After attempting to create an account, an error message appears, "After attempting to create an account" but it is persistent. I'm running the app on Mac os.

[2018-05-14 10:39] networkCat commented on #204
I can confirm this issue!

<img width="375" alt="screenshot at may 14 12-39-26" src="https://user-images.githubusercontent.com/4696430/39992665-dca3ae12-5773-11e8-87cb-464013e9459f.png">

[2018-05-14 18:41] dylan-k commented on #204
I built from source locally but that didn't make any difference. The issue remains.

[2018-05-14 18:47] tschellenbach commented on #204
We'll look into it. We're pushing for a big release in the next 3 days. Will definitely resolve this.

[2018-05-14 22:00] nparsons08 commented on #204
@dylan-k This should be resolved in the latest release. You may need to open your developer tools and delete all application data. Thank you for reporting this issue!

[2018-05-14 22:00] #204 closed

[2018-05-14 22:09] #181 closed

[2018-05-14 22:10] nparsons08 commented on #177
Resolved by the new OG scraper.

[2018-05-14 22:10] #177 closed

[2018-05-14 22:10] #157 closed

[2018-05-14 22:13] nparsons08 commented on #164
@RedL0tus This is now resolved. We have distributions for macOS, Linux distros, and Windows. You can download them at https://getstream.io/winds.

[2018-05-14 22:13] #164 closed

[2018-05-14 22:18] #175 closed, assigned to nobody

[2018-05-15 04:05] RedL0tus commented on #164
Thanks!

[2018-05-15 04:10] RedL0tus commented on #164
By the way,  @nparsons08 could you please provide binary in .AppImage format ( https://github.com/AppImage/AppImageKit/wiki/Bundling-Electron-apps ), it's painful to use snap in distributions other than Ubuntu.

[2018-05-15 16:35] nparsons08 commented on #133
Issue fied.

[2018-05-15 16:35] #133 closed

[2018-05-15 19:17] nparsons08 commented on #152
Resolved by @kenhoff

[2018-05-15 19:17] #152 closed

[2018-05-15 19:36] nparsons08 commented on #200
@tschellenbach That's not a valid URL. Hmm..

[2018-05-15 19:44] tschellenbach commented on #200
removed the \ in the url, all good now

[2018-05-15 20:13] #151 closed

[2018-05-15 20:13] #153 closed

[2018-05-15 20:16] #174 closed

[2018-05-16 17:31] nparsons08 commented on #183
Fixed

[2018-05-16 17:32] kenhoff commented on #162
unable to repro this in production. closing. feel free to re-open if you still find it happening on specific pages.

[2018-05-16 17:32] #162 closed

[2018-05-17 17:10] #180 closed

[2018-05-17 17:10] #170 closed

[2018-05-17 17:10] #169 closed

[2018-05-17 17:10] #168 closed

[2018-05-17 17:11] #167 closed

[2018-05-17 17:11] #172 closed

[2018-05-17 17:15] #166 closed

[2018-05-17 17:50] nparsons08 commented on #154
@kenhoff potential fix - localStorage?

[2018-05-18 07:57] tbarbugli commented on #166
@nparsons08 why the close?

[2018-05-18 09:52] Pitu commented on #204
Download release v2.0.157 from the website (built 2 days ago) and have the same issue on a clean install.

[2018-05-22 08:53] Nekuromento opened #262 "Unhelpful error message during registration"
Registration form doesn't communicate that not all characters are allowed for account user-name (e.g. '.' and '-' characters cause this)
Instead when a generic error message is displayed

[screenshot](https://i.imgur.com/amq4dkp.png)

[2018-05-22 09:00] Nekuromento opened #263 "Detect feed type from parsed feed"
Currently Winds has separate categories for podcasts and text-feeds
But technically user can provide a URL to wrong type of input field

Would be great to detect feed type and put content into correct category

[2018-05-22 09:02] Nekuromento opened #264 "App freezes when adding Podcast RSS feed as a regular RSS feed"
If you provide a URL containing RSS feed for podcasts when adding a regular RSS feed the app stops rendering and freezes

Reproducible with https://www.npr.org/podcasts/510311/embedded

[2018-05-22 09:06] Nekuromento opened #265 "Adding regular RSS feed as an Podcast RSS feed results in blog entries interpreted as unplayable podcast episodes"
If you provide a regular RSS feed URL when adding a Podcast RSS feed Winds interprets blog entries as unplayable podcast episodes

[2018-05-22 10:00] NikkiZabel commented on #262
I am having the same problem, except that I haven't figured out what it is I am doing wrong. I have tried various user names and passwords. Are you aware of any other restrictions it is not specifying?

[2018-05-22 10:59] tschellenbach commented on #164
I just pushed a new build, that should resolve the issue you're seeing! @nparsons08 can you test this one more time?

[2018-05-22 11:08] tbarbugli commented on #262
@NikkiZabel can you add the network request you get with the error? You can get that by opening Dev Tools tab (View -> Toggle Developer Tools, Network tab + CTRL-R)

[2018-05-22 11:19] tbarbugli opened #267 "Signup with already existing email returns a generic error"
### Steps to Reproduce

1. Signup form
2. Use email from exiting user
3. Submit

**Expected behavior:**  Clear error message

**Actual behavior:** "There was an error when attempting to create your account. Please try again later."

[2018-05-22 11:57] NikkiZabel commented on #262
![screenshot from 2018-05-22 12-52-00](https://user-images.githubusercontent.com/33725042/40360906-82b3f996-5dbf-11e8-8d61-1c2ebe3d6952.png)

Not entirely sure what it is you need, but here's a screenshot of that ^

[2018-05-22 12:06] valpinkman opened #269 "Password Reset not working (404 on password reset url)"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Since I already had an account, I tried to reset my password. However nothing was happening, so I checked the developer tools, it seems there is a 404 on the reset url

### Steps to

[2018-05-22 12:28] TechMoritz commented on #262
Same problem here. I don't know what I'm doing wrong.

In the console I get the following error message:

[2018-05-22 13:54] TechMoritz commented on #262
@tschellenbach Thank you. Version 2.0.208 works well :)

[2018-05-22 15:54] thebetterjort opened #271 "Can't sign up"
In order to use Winds on a corporate proxy I will need to give it our self-sign cert. In node we pass this in an env variable so that packages will trust it. There needs to be an option to pass this cert, so that I can signup or have a website that I can signup with thats not in the app.

[2018-05-22 16:01] #271 closed, assigned to nobody

[2018-05-22 16:02] nparsons08 commented on #269
@valpinkman Just pushed up a fix. Can you give it a shot? Thanks!

[2018-05-22 16:41] HenryQW commented on #191
API? Mobile client?

[2018-05-22 16:45] KZeni opened #273 "Import OPML Not Functional"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I've got an .opml export from Feedly and Reeder.app to test with. I've tried to import these two OPML files as new RSS feeds, but the Select File option doesn't have .opml file type

[2018-05-22 17:13] tschellenbach commented on #191
Allow users to skip the onboarding flow.

[2018-05-22 18:56] blcarson commented on #191
Theme options possible?

[2018-05-22 19:33] surajbarthy opened #276 "Registering CTA doesn"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What

[2018-05-22 19:34] surajbarthy commented on #276
![screenshot 2018-05-23 01 02 11](https://user-images.githubusercontent.com/9071854/40385725-30b33e20-5e25-11e8-95ef-4df99c96d42b.jpg)

[2018-05-22 20:40] nparsons08 commented on #269
Hey there @valpinkman. Out of curiosity, have you signed up for v2? Or are you using credentials from v1?

[2018-05-22 21:17] #264 closed

[2018-05-22 21:17] nparsons08 commented on #263
Reference to https://github.com/GetStream/Winds/issues/264

[2018-05-22 21:35] lnx01 commented on #273
same issue with snap on Ubuntu

[2018-05-22 22:02] HuangYuSan commented on #191
A progressive web app! Is it because of server costs that you don't provide one?

[2018-05-22 22:51] timothyjlaurent commented on #191
Mobile client

[2018-05-22 22:54] tschellenbach commented on #191
Progressive web app is definitely something we could do thanks for the feedback

[2018-05-22 23:11] sifex commented on #269
Same story here. Creds from V1

[2018-05-22 23:15] sasnfbi1234 opened #279 "OPML import fails "Request failed with status code 500""
Prerequisites

    Put an X between the brackets on this line if you have done all of the following:
        Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

Description

I've got an .opml export from RSS OWL to test with. I've tried to import this OPML files as new RSS feeds, but when I try to import it i get a "Request failed with status code 500
Steps to R

[2018-05-23 03:55] jefforulez opened #280 "no episodes found for intercepted, deconstructed"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Winds is unable to find episodes for The Intercept's Intercepted and Deconstructed podcasts.

### Steps to Reproduce

1. Search for "Intercepted" or "Deconstructed"
2. Select the ass

[2018-05-23 04:29] yohanmishkin opened #281 "No privacy policy"
This project is super exciting but the lack of an obvious privacy policy coupled with the advertising of "Stream's machine learning" is discouragingly concerning.

[2018-05-23 04:45] inthedeepend opened #282 "Ambiguous error if using an incorrect format for username e.g (user.name)"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I tried to create an account with bradley.shawyer as the username and was presented with the following error :

I suggest something more useful such as, `Username format is not suppo

[2018-05-23 04:50] shirishp opened #283 "Add keyboard shortcut support for navigation"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Add support for keyboard shortcuts to navigate through feed

### Steps to Reproduce

1. Login to Winds
2. Go to RSS feed
3. Try pressing popular navigation keys (ex. `j` for next ite

[2018-05-23 05:43] yandd commented on #191
mobile app

[2018-05-23 07:10] dusk0 commented on #191
opml import

[2018-05-23 07:19] huiyifyj commented on #191
Visit it by browser,
If it can be delayed on linux servers.

[2018-05-23 07:33] delockdown commented on #191
Adding twitter user accounts to see the feeds of that particular person

[2018-05-23 08:13] mime29 opened #284 "Blank window after clicking on search suggestions"
### Prerequisites

* [X ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Blank window after search for "Hacker news" and mouse click on Hacker news drop down suggestion.

### Steps to Reproduce

1. [First Step]
Mouse click in the top search bar, type in

[2018-05-23 08:26] citizenk commented on #191
Tools for finding duplicate feeds, dead feeds, and general maintenance

[2018-05-23 08:26] citizenk commented on #191
Folders/tags for organizing feeds

[2018-05-23 08:53] valpinkman commented on #269
I'm using the V1 credentials.

I will try again today @nparsons08

Do I have to pull the code or is it online on the AppStore ?

[2018-05-23 09:34] isakkeyten opened #285 "Links open in-app - get locked into that website."
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]
Clicking on a link opens the link in Winds app instead of browser.
This in turns locks you in that website and there is no back button to go back to the ap

[2018-05-23 10:21] BitYog commented on #192
Endless Thread - www.wbur.org/endlessthread
Hidden Brain - https://www.npr.org/series/423302056/hidden-brain
Invisbilia - https://www.npr.org/podcasts/510307/invisibilia

[2018-05-23 11:32] m4rr opened #286 "How to remove an account?"
There is no option to remove an account inside the app's Settings.

<img width="444" src="https://user-images.githubusercontent.com/868077/40421983-6dbd5b86-5e96-11e8-95a0-1a7290f9a2db.png">

[2018-05-23 11:37] kundancool commented on #191
- Dark Theme
- Keyboard controls (Play/Pause | Mute | Volume +/-)

[2018-05-23 13:04] mtutty opened #287 "Cannot add iTunes podcast via URL"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Cannot add iTunes podcast via URL

### Steps to Reproduce

1. Click "New" button, choose "New podcast" from the dropdown menu.  System shows the dialog as expected.
2. Enter the URL

[2018-05-23 14:38] j0hnsmith opened #288 "OSX dmg"
Some people don't like installing via Apple's mac app store, is a .dmg available anywhere?

[2018-05-23 14:39] tbarbugli commented on #288
https://s3.amazonaws.com/winds-2.0-releases/releases/Winds-2.0.211.dmg

[2018-05-23 14:40] j0hnsmith commented on #288
:+1: Thanks

[2018-05-23 14:54] coma-toast commented on #191
An easier way to see if you are Following something or not.

[2018-05-23 15:34] ericschmar commented on #191
More intuitive navigation for reading RSS feeds. If you select a specific feed, navigating back to the cumulative feed is not obvious. Also, some website rendering does not work correctly, depending on the styling. Which I'm sure is probably an issue with the site itself, but more support for off-the-wall sites to at least get some things rendering.

[2018-05-23 15:38] nparsons08 commented on #262
Thank you @TechMoritz!

[2018-05-23 15:38] #262 closed

[2018-05-23 15:47] HenryQW commented on #191
User-specified filters, which automatically apply actions to feeds/sources.

Eg. If a feed title contains some keywords, prioritise it/mark it as read/star it.

[2018-05-23 15:48] sasnfbi1234 commented on #279
@nparsons08  sent! thx

[2018-05-23 16:05] jalberto opened #289 "Add Flatpak or Appimage"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description
In linux Snap is used for packaging, Snap is terrible unstable outside of Ubuntu. Will great to have Wind packaged as Flatpak or Appimage for linux distros.

[2018-05-23 17:37] kylemitchell opened #290 "Add Media Key Support"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Would be fantastic to be able to play / pause podcasts with media keys

### Steps to Reproduce

1. Open Winds
2. Play a Podcast
3. Keyboard play / pause to control audio

**Expected

[2018-05-23 17:38] tschellenbach commented on #290
i really like this idea. should be pretty easy as well.

[2018-05-23 17:56] manu-chroma commented on #289
Snap is amazingly terrible. I installed ``Wind`` on fedora 28 using snap and it's not even showing up in gnome menu. Apart from that, snap is very unstable as mentioned above and created lot of system crash reports when the installation was going on.

Do I need to restart or should it show up by default?

[2018-05-23 18:05] mtutty commented on #287
I see.  Thanks for the update, Nick - I'll try the RSS approach.
      M.

On Wed, May 23, 2018 at 10:02 AM, Nick Parsons <notifications@github.com>
wrote:

[2018-05-23 21:52] nparsons08 commented on #269
@valpinkman It's an app store update.

[2018-05-23 22:10] RJXIII commented on #164
The link for the Linux download isn't working.

[2018-05-24 04:46] tschellenbach commented on #191
A web version is now available (it was a really popular request):
https://winds.getstream.io/

The bugs with OPML import have also been fixed!

[2018-05-24 09:28] valpinkman commented on #269
I'm sorry to tell you I still end up with a 404...

[2018-05-24 13:27] nparsons08 commented on #269
Are you using credential from v1 by chance? 404 indicates that your email
was not found.

On Thu, May 24, 2018 at 3:28 AM Valentin D. Pinkman <
notifications@github.com> wrote:

--

*Nick Parsons* | *Senior Developer Evangelist*
GetStream.io <http://getstream.io/> | Techstars NYC 2015
nick@getstream.io | LinkedIn <https://www.linkedin.com/in/nparsons/> |
Twitter <https://twitter.com/nickparsons> |

[2018-05-24 13:32] valpinkman commented on #269
Yes I am using a V1 credential. Should I create a new one with the same email ?

[2018-05-24 13:40] nparsons08 commented on #269
Yes, that would be the best option as we did a complete rewrite. Thanks and
let me know if you run into any issues!

On Thu, May 24, 2018 at 7:32 AM Valentin D. Pinkman <
notifications@github.com> wrote:

--

*Nick Parsons* | *Senior Developer Evangelist*
GetStream.io <http://getstream.io/> | Techstars NYC 2015
nick@getstream.io | LinkedIn <https://www.linkedin.com/in/nparsons/> |
Twitter <https:/

[2018-05-24 13:48] valpinkman commented on #269
Apparently, I can't seem to signup either on 2.0.213
But signup workflow works on the App Store 2.0.211

[2018-05-24 13:54] nparsons08 commented on #269
Do you see any errors with the dev console open?

On Thu, May 24, 2018 at 7:48 AM Valentin D. Pinkman <
notifications@github.com> wrote:

--

*Nick Parsons* | *Senior Developer Evangelist*
GetStream.io <http://getstream.io/> | Techstars NYC 2015
nick@getstream.io | LinkedIn <https://www.linkedin.com/in/nparsons/> |
Twitter <https://twitter.com/nickparsons> | Quora
<https://www.quora.com/profile/Ni

[2018-05-24 14:38] valpinkman commented on #269
Well, the thing is I haven't tried the reset password workflow now that I can log in

[2018-05-24 14:40] valpinkman commented on #269
So I've tried the workflow again, password reset seems to be working, I guess it was due to the v1 account

[2018-05-24 14:42] #269 closed

[2018-05-24 14:45] nparsons08 commented on #279
Hey @sasnfbi1234, I'm not sure what's going on but the OPML file you provided seems to be malformed. I'm going to continue testing it out but close this issue out for now. Will be in touch via email.

[2018-05-24 14:45] #279 closed

[2018-05-24 15:34] nparsons08 commented on #289
@manu-chroma you can now download an AppImage from https://s3.amazonaws.com/winds-2.0-releases/latest.html. Hope that helps! :)

[2018-05-24 15:36] nparsons08 commented on #285
@isakkeyten All links or specific links?

[2018-05-24 15:40] mkarliner opened #294 "Onboarding fails"
Just tried to onboard using Winds app
OS: El Capitan

Up attempting signup, I get the following response on the screen
![image](https://user-images.githubusercontent.com/1651042/40496122-e3c17332-5f70-11e8-9691-60faa2c95ac1.png)

This creates an account, but not with the entered password.

I then moved to the web version, (El Cap, Chrome) and attempted a password reset.
This sent a pass phrase, bu

[2018-05-24 16:22] nparsons08 commented on #289
Odd. What are you running? I'll spin up a VM and give it a shot.

[2018-05-24 16:38] nparsons08 commented on #294
Are you able to reset your password and login? We're currently investigating authentication issues at the moment.

[2018-05-24 16:47] nparsons08 commented on #294
Hey @mkarliner, I'm not seeing your email. Can you try one more time with your console or network tab open? Thanks for the help!

[2018-05-24 16:53] manu-chroma commented on #289
[code]

[2018-05-24 16:55] mkarliner commented on #294
Probably registered as mike@minus1.com

[2018-05-24 20:59] nparsons08 commented on #294
Are you behind a firewall by chance? Anything logging out in your console? I cannot seem to locate your user...

[2018-05-24 22:01] mkarliner commented on #294
I've tried to start the application again and got the same result - see attached.
![image](https://user-images.githubusercontent.com/1651042/40515788-1582ba90-5fa6-11e8-9c1b-f35742f3f20c.png)

There is no firewall. My router is a stock DD-WRT
Opening the console gives this
![image](https://user-images.githubusercontent.com/1651042/40515849-574cda6e-5fa6-11e8-93fc-3310ac93beab.png)

[2018-05-24 22:14] nparsons08 commented on #294
Looks like your API is likely not up and running. Does the API output any
errors?

On Thu, May 24, 2018 at 4:01 PM Michael Karliner <notifications@github.com>
wrote:

--

*Nick Parsons* | *Senior Developer Evangelist*
GetStream.io <http://getstream.io/> | Techstars NYC 2015
nick@getstream.io | LinkedIn <https://www.linkedin.com/in/nparsons/> |
Twitter <https://twitter.com/nickparsons> | Quora
<htt

[2018-05-25 01:54] Kr4ken-9 opened #298 "Add Option to Skip Onboarding"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Winds' description: "A Beautiful Open Source RSS & Podcast App"

Winds' reality: An app for stream

Since there is no option to skip onboarding, everyone must register for the stream

[2018-05-25 03:11] tschellenbach commented on #298
You don't need to signup for Stream if you just use Winds. https://getstream.io/winds/

If you want to install locally you need to configure all of dependencies and services. It's not possible to run Winds without Stream, the majority of the functionality relies upon it. Algolia and Mercury are also required. All of this is documented in the readme. We like using services this is not changing.

Th

[2018-05-25 03:11] #298 closed

[2018-05-25 03:25] alonprince opened #299 "v2.0.238 not working, assets not found"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

v2.0.238 not working
Failed to load resource: net::ERR_FILE_NOT_FOUND             /static/css/main.395a5eba.css
Failed to load resource: net::ERR_FILE_NOT_FOUND            main.17a03

[2018-05-25 03:37] tschellenbach commented on #299
Platform?

On Thu, May 24, 2018, 21:25 Phishing <notifications@github.com> wrote:

[2018-05-25 03:45] alonprince commented on #299
@tschellenbach sorry, I forget to write platform info.
mac os 10.13.4

[2018-05-25 04:42] alonprince commented on #299
thx☺️

[2018-05-25 04:56] alonprince commented on #299
I get the same error when I download v2.0.240.
I try to download source code and run local build.
Because of I don't have valid identity, build failed.

[2018-05-25 05:07] tschellenbach commented on #299
The static files seem to be present in the build. Note that the version on the App Store is still working as well as the web version. https://winds.getstream.io/

@nparsons08 is going to look into it.

[2018-05-25 08:19] NansD opened #300 "Favicon is not displayed"
# Favicon is not displayed
When going on the website, there is no favicon displayed. This is also an issue when saving the bookmark.
![image](https://user-images.githubusercontent.com/18481465/40534039-f939ed2c-6004-11e8-9268-125582b5a39b.png)
![image](https://user-images.githubusercontent.com/18481465/40534058-0bb7fdea-6005-11e8-8277-7c3941a93175.png)

[2018-05-25 08:26] mkarliner commented on #294
Now it seems we are talking at cross purposes.
All I've done is download the winds app for Macintosh and run it.
Am I supposed to be running a back end as well?
If so, it's completely unclear from any of the documentation I saw.

[2018-05-25 10:31] tschellenbach commented on #294
There are 3 ways to get Winds running on OSx:

- DMG
- App Store
- Git clone & Running the frontend

Which setup are you using? In the meantime, these 2 versions of Winds work:

- Web: https://winds.getstream.io/
- App Store: itunes.apple.com/us/app/winds-by-getstream-io/id1381446741

[2018-05-25 10:59] mkarliner commented on #294
I read this post and downloaded the app for Mac.

https://getstream.io/blog/winds-2-0-its-time-to-revive-rss/

[2018-05-25 11:07] mkarliner commented on #294
I've tried the web version, password reset does not work, opening new issue

[2018-05-25 15:30] nparsons08 commented on #294
1) Were you able to get the app up and running
and
2) Thank you for reporting the issue – our team will look into it as soon as possibe

[2018-05-25 15:34] billy34 commented on #299
Same thing on windows 7 with v2.0.240

[2018-05-25 16:39] nparsons08 commented on #289
A fix is on the way up to the cloud right now. I'd suggest pulling the latest codebase and re-opening if you have any issues. Cheers! 🥂

[2018-05-25 16:39] #289 closed

[2018-05-25 16:41] lilithfr opened #301 "Cannot reset password"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

On the winds website, the reset password doesn't work. I received the email with the passphrase but after I enter it and click on "Reset Password" nothing happened.
On the winds appl

[2018-05-25 16:41] nparsons08 commented on #299
A fix is on the way up to the cloud right now. Please reopen the issue if you see any issues regarding this matter. Cheers! 🍻

[2018-05-25 16:41] #299 closed

[2018-05-25 16:45] tschellenbach commented on #299
Fixed in 2.0.244 will be available in 10 min or so. this was kinda tricky to figure out. Was related to the package.json "homepage" variable

[2018-05-25 17:46] nparsons08 commented on #300
Thanks for the heads up! We'll get one in there shortly. Cheers!

[2018-05-25 18:02] nparsons08 commented on #290
Would anyone from the community like to make this contribution? We'll send you an awesome Stream t-shirt!

[2018-05-25 18:08] NansD commented on #300
Thank you for taking care of it, it will greatly enhance my experience 😄
I'm happy if my "contribution" was useful 👍

[2018-05-25 18:36] kaman1 opened #303 "Login"
Hi I need login help!
I was able to download install all the dependencies and launch it on my local machine but I am getting this error message when I try ti login "**There was an error when attempting to create your account. Please try again later**"

This is what the terminal is telling me:

`2018-05-25 12:48:06.874 Electron[4945:28187] *** WARNING: Textured window <AtomNSWindow: 0x7f826ae6b850>

[2018-05-25 18:53] manu-chroma commented on #289
thank you @nparsons08 :)

[2018-05-26 14:46] mattpanther commented on #5
Is importing from OPML still an option? I'm not seeing a subscriptions area. When I go to RSS and look at all feeds I don't see an option to import, also don't see it in the profile settings anywhere. Thanks for any tips!

![image](https://user-images.githubusercontent.com/22131722/40577338-175ab43a-60d2-11e8-8e53-58ec780ecbb2.png)

[2018-05-26 14:48] tschellenbach commented on #5
yes, click new, select rss, click import OPML

we're going to change the design for this, cause its not really easy to find. sorry about that!

[2018-05-26 14:57] kaman1 commented on #303
![screen shot 2018-05-26 at 9 55 25 am](https://user-images.githubusercontent.com/11543508/40577434-1bcaf9b4-60cb-11e8-9f82-ed312e4b6dc7.png)

[2018-05-26 17:06] datitisev opened #305 "Line breaks in code blocks are converted into spaces"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Line breaks in code blocks are ignored, at least for Tuts+ Code.

### Steps to Reproduce

1. Load a Tuts+ Code article
2. Open the original article, and compare code blocks

**Expect

[2018-05-26 23:45] Thunderlbc opened #308 "Can't normally parse feed.xml for gitpages(maybe)"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
add new RSS feed with `https://libingchen.me/feed.xml`
2. [Second Step]
after title properly appeared, hit `submit

[2018-05-27 00:03] tschellenbach commented on #308
Hi Li,

Thanks for reaching out. I only see 1 post here: https://libingchen.me/feed.xml is that correct?

[2018-05-27 00:04] tschellenbach commented on #305
Which RSS feed are you using for this?

Best,
Thierry

[2018-05-27 07:06] Thunderlbc commented on #308
@tschellenbach  yeah, it's created just for testing~~  there are markdown and gist blocks inside, wondering whether they're supported~

[2018-05-28 00:35] leonardovillela commented on #290
Me, i'm working on this issue, I'll soon submit a PR.

[2018-05-28 02:32] tschellenbach commented on #290
Awesome :)

On Sun, May 27, 2018, 18:35 Leonardo Villela <notifications@github.com>
wrote:

[2018-05-28 07:05] zhanzhixingzhe opened #309 "Into Links, messy codes appear"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Thank you! I'm beginner . I'm a chinese, when i order the rss ,the list is good, but in inside pages there are messy code.]

### Steps to Reproduce

1. [x] add the rss url, for exam

[2018-05-28 23:31] nonlinear commented on #191
I don't understand the secrecy around other podcast players... I don't mind AT ALL for others to know what I listened to, and when.

So, a public profile with my log, I'm def game. Users can opt out per profile or podcast.

[2018-05-28 23:32] nonlinear commented on #191
A way to receive show notes via email helps too... sometimes you're on the go, they comment "it will be in the show notes" and you wish for a "send me show notes for this episode" button. bonus points if it shows WHEN on the show I asked for it.

That's not hard to have and it makes a world of difference. Audio = I'm on the go.

[2018-05-29 06:21] benjbrandall opened #313 "Blank screen after adding new RSS feed on Ubuntu"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

After clicking the 'new' button, pasting in an RSS feed, and then selecting the feed from the checkbox, the screen goes blank and I have to quit the app and restart to use it again.

[2018-05-29 15:16] tschellenbach commented on #313
That's not great. I think we have an issue where our backend is returning article.images = null instead of article.images = {}. We'll fix that both on the backend as well as frontend.

[2018-05-29 15:38] workingwriter opened #316 "Windows: Import OPML not visible"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Saw that OPML Import was included in current version when someone else had requested this in the v2.1 Features thread. I updated to v2.0.244 on my Windows 7 machine, and followed t

[2018-05-29 15:40] nparsons08 commented on #316
Hi @workingwriter, if you click "New" > "RSS" there should be a dropdown for OPML imports. Please doublecheck and reopen this issue if you are still not seeing (preferably with screenshots). Thanks!

[2018-05-29 15:40] #316 closed

[2018-05-29 18:33] tschellenbach commented on #313
This issue has been fixed by making a change to the API. So it should work upon refresh now. Thanks for letting us know and feel free to reach out if you run into any other issues!

[2018-05-29 18:33] #313 closed, assigned to nobody

[2018-05-29 19:50] ritiek commented on #313
Thanks @tschellenbach! I can confirm it works now.

However, this might be a separate issue but I am unable to access this particular feed https://openastronomy.org/Universe_OA/rss.xml. For some reason when I add this RSS feed link using https://winds.getstream.io/, it redirects me to https://winds.getstream.io/rss/[object%20Object] that just returns a blank white page.

The feed then also starts

[2018-05-29 21:49] tschellenbach commented on #316
Also we're going to make this easier to use in the next release. (2.1)

[2018-05-30 04:27] yuanchenxi95 commented on #309
It is a bug of Mercury API, not the Winds.

The API returns the replacement character(&#xFFFD) in unicode, as it does not support Chinese Characters.
`curl -H "x-api-key: YOUR_MERCURY_TOKEN" "https://mercury.postlight.com/parser?url=http://news.qq.com/a/20180523/004610.htm"`

To add support for other languages, the server might need to a different parser to parse languages other than English, or y

[2018-05-30 15:44] nparsons08 commented on #286
We're currently working on this feature and will have it deployed soon. Will keep you posted. Thanks for understanding!

[2018-05-30 18:14] workingwriter commented on #316
Good to hear! I did get it working, but I'll note that isoreader exports their Subscriptions file as *.xml (not .opml). While you're in there, you might want to support both extensions.

[2018-05-30 23:16] Rictusempra opened #324 "Use Without Login"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Allow users use Winds as a local RSS feeds reader

### Versions

2.0.244

[2018-05-30 23:29] tschellenbach commented on #324
Most users want to be able to use on multiple platforms (mobile, web, app). So this is a bit tricky to do.

[2018-05-31 01:27] tschellenbach commented on #305
of course! only tricky part is that the content comes from an API call to an external API. so you have to find a way to add them back in... not sure if its possible. so far we didnt find an alternative for Mercury API yet.

a good easy one is keyboard shortcuts: https://github.com/GetStream/Winds/issues/283 (frontend)

[2018-05-31 02:03] Rictusempra commented on #324
@tschellenbach This is alright. All I request is only `offline mode` despite to have an account.

[2018-05-31 05:17] mauromassucatti commented on #191
Hi, thanks for the app!

I really like the design! **Clean and Beautifull**! Until now, for the features that you provide, the UX is _good_, and some issues already get the attention in previous comments, like folders, dark theme, etc.

For me, the most important feature that makes all difference here is a **_Mac Menu Bar App_**, working _unattached_/_autonomously_ to the Dock App (that only will

[2018-05-31 15:26] isakkeyten commented on #285
@nparsons08 Sorry, don't know, didn't test further. I wrote how to exactly reproduce the bug, but given I don't use the app anymore I don't know if the bug happens under other circumstances too.

[2018-05-31 15:34] tschellenbach commented on #285
Anything else we can improve? We're making good progress on 2.1

[2018-05-31 17:43] edlau opened #326 "Recode Decode feed is missing."
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Recode Decode podcast feed is missing. This is the link to content https://www.recode.net/podcasts/rss/current

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on

[2018-05-31 20:37] tbarbugli commented on #285
reminds me of #183

[2018-06-01 00:56] zhanzhixingzhe commented on #309
Thank you @yuanchenxi95
I seem understand

[2018-06-01 17:27] nparsons08 commented on #326
You're welcome to add the script manually. Just press the green add button and a form will appear. :)

[2018-06-01 17:27] #326 closed

[2018-06-01 22:54] nparsons08 commented on #303
@kaman1 It doesn't look like the issue is with your code. It seems that you may not have started the API correctly. Can you verify by going to the API `/health` and seeing what it says? If it doesn't resolve, it's likely errored out or not started.

[2018-06-04 10:57] m4rr commented on #286
Done (version 2.0.284, Mac App Store.) Great!

<img width="227" src="https://user-images.githubusercontent.com/868077/40913954-0710b5c8-67ff-11e8-8eba-a7b65a619917.png">

[2018-06-04 12:56] #286 closed

[2018-06-06 21:35] isakkeyten commented on #285
@tbarbugli Yup. Same. Can be closed since it's fixed there.

[2018-06-06 21:35] #285 closed

[2018-06-06 21:36] tschellenbach commented on #183
Actually there were some edge cases were this wasn't fixed. Today's release will solve this.

[2018-06-06 21:36] #183 closed

[2018-06-07 13:17] nparsons08 commented on #305
Hey @edgar971, how's it going with the bugfix? We're here if you need help. Cheers!

[2018-06-07 16:35] nparsons08 opened #357 "Password recovery email"
Email not sent to recover password

[2018-06-07 16:36] nparsons08 opened #358 "Password reset redirect"
When resetting a password, the user is not taken back to login page.

[2018-06-08 15:39] bamadesigner opened #361 "Gravatar not always displaying property"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

My gravatar displays when I open the settings, but in every other spot it's displaying (what I'm assuming is) the default gravatar image.

### Steps to Reproduce

1. I created an acc

[2018-06-08 15:41] bamadesigner opened #362 "Can't scroll down the page"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I can't scroll down the page. Looks like the culprit is that the .app selector has height set to 100vh.

I'm using Google Chrome.

### Steps to Reproduce

1. Visit any page.
2. Try t

[2018-06-08 15:45] mattcoxonline commented on #324
I'm sure you're correct that it's going to be tricky to do; but I do like the idea that you don't have to have an account. It'd be perfectly viable to store subscriptions and read state of posts on the local storage - but you would just have to make it clear that this is not synced cross-device (or cross-browser) until you create an account.

There's a certain audience who would be put off the pro

[2018-06-08 15:50] bamadesigner opened #363 "The header/menu is inaccessible"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

The header/menu is highly inaccessible to users who can't see and who can't use a mouse.

The images need alt attributes and all actions need to be accessible by keyboard, in other w

[2018-06-08 16:03] nparsons08 commented on #363
@bamadesigner Are you on the web version of native?

[2018-06-08 16:05] bamadesigner commented on #363
@nparsons08 Web version

[2018-06-08 16:08] vinay-gujar opened #364 "Does not launch on Wayland / Ubuntu 18.04"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Winds does not launch on the Wayland display manager on Ubuntu 18.04
Although it works perfectly on Xorg

### Steps to Reproduce

1. Log into Wayland session on Ubuntu 18.04
2. Launc

[2018-06-08 16:14] nparsons08 commented on #364
@vinay-gujar Are you seeing any error messages that may help us debug this issue? Thank you!

[2018-06-08 16:18] vinay-gujar commented on #364
@nparsons08 No, there are no visible error messages.

[2018-06-08 16:30] nparsons08 commented on #364
@vinay-gujar Thanks for the quick response. I'll spin up an Ubuntu Wayland instance and see if I can reproduce. Stay tuned.

[2018-06-08 16:34] scottsweb opened #365 "Appimage missing on https://getstream.io/winds/"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

The download for the Appimage is currently broken on https://getstream.io/winds/. It looks like an authentication issue with S3.

[2018-06-08 16:36] vinay-gujar commented on #364
@nparsons08 Thank you, will do!

[2018-06-08 17:42] nparsons08 commented on #365
Looking into this now @scottsweb. Thank you for the heads up!

[2018-06-08 18:40] nparsons08 commented on #365
@scottsweb This issue has been fixed and will be resolved in the next deploy (likely later today). For now, you can use the direct URL: https://s3.amazonaws.com/winds-2.0-releases/releases/Winds-2.0.293-x86_64.AppImage

[2018-06-08 18:40] #365 closed

[2018-06-08 18:52] nparsons08 commented on #364
Hey @vinay-gujar, I was able to reproduce the issue; however, the application eventually loaded after about 30-60 seconds. Not ideal, but provided the bugs we have so far, we're going to throw this on the backburner for now. I'll try to get some debugging going in my free time. Thanks!

[2018-06-08 18:52] #364 closed

[2018-06-08 18:55] scottsweb commented on #365
That is great, thanks for looking into it so quickly. I am looking forward to testing the app!

[2018-06-08 21:34] nparsons08 commented on #324
Closing this out as it's something that is not within the scope of what is possible with the application.

[2018-06-08 21:34] #324 closed

[2018-06-08 21:35] nparsons08 commented on #309
Closing this out as it's out of our control. Will reopen if the Mercury parser allows for this type of parsing at a later time.

[2018-06-08 21:35] #309 closed

[2018-06-08 21:39] nparsons08 opened #372 "Docker support"
A Dockerfile from the community would be much appreciated. 📦

[2018-06-08 21:40] nparsons08 commented on #362
@bamadesigner The issue you are describing is by design. Individual feeds are scrollable. Closing this out for now.

[2018-06-08 21:40] #362 closed

[2018-06-08 21:48] iskandergaba commented on #191
Mobile Client. I suggest the app to be hybrid (very flexible in development, reusability of the web code, and easy to make it cross platform)

[2018-06-08 21:57] nparsons08 commented on #189
Fixed

[2018-06-08 21:57] #189 closed

[2018-06-08 22:19] bamadesigner commented on #362
You might want to consider re-thinking this approach. If your screen is not tall enough, there isn't much room to view what's inside the individual feeds as you scroll, since you can't scroll to make the elements above the feeds move out of the way.

[2018-06-08 22:38] nparsons08 commented on #301
Fixed!

[2018-06-08 22:38] #301 closed

[2018-06-09 05:58] buckle2000 opened #373 "Where is the AppImage?"
https://s3.amazonaws.com/winds-2.0-releases/latest.html

The link is broken:

https://s3.amazonaws.com/winds-2.0-releases/releases/Winds-2.0.309-x86_64.AppImage

[code]

[2018-06-10 01:32] ahswch commented on #373
i meet the same problem.can't download the releases by 'https://s3.amazonaws.com/winds-2.0-releases/latest.html'

[2018-06-10 01:48] tschellenbach commented on #373
I think it's a typo in the filename... @nparsons?

On Sat, Jun 9, 2018, 19:32 Wangyutao <notifications@github.com> wrote:

[2018-06-10 02:43] tschellenbach commented on #373
Looks like it's fixed. Can you try again?
https://getstream.io/winds/

[2018-06-10 02:43] #373 closed

[2018-06-10 08:55] buckle2000 commented on #373
It's fixed. :+1:

[2018-06-10 12:44] mhingston opened #377 "Youtube Feeds"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Youtube feeds aren't parsed by Winds.

### Steps to Reproduce

1. Click New > New RSS
2. Paste in Youtube feed URL: https://www.youtube.com/feeds/videos.xml?channel_id=UCaKZDEMDdQc8t

[2018-06-10 17:46] tschellenbach commented on #377
yeah we don't have video support just yet. (at least not when the rss feed specifies it as an enclosure)
lets see if we can get this in for 2.1 release

[2018-06-10 19:58] russdb commented on #284
This happens to me as well, Windows 10 LTSB 1607 build 14393.2248

[2018-06-10 20:05] russdb commented on #284
Recreating the error by searching in the search field, after three selections in the field the console gives this:

console.js:35 TypeError: Cannot read property 'Symbol(Symbol.iterator)' of undefined
    at t.a (getPlaceholderImageURL.js:12)
    at t.value (RSSArticleList.js:258)
    at p (react-dom.production.min.js:131)
    at beginWork (react-dom.production.min.js:138)
    at i (react-dom.prod

[2018-06-11 21:55] nparsons08 commented on #305
Closing this out as it has become stale. Please reopen if you would like to continue the discussion. Thank you!

[2018-06-11 21:56] nparsons08 commented on #294
Closing this out as it has become stale. Please reopen if you would like to continue the discussion. Thank you!

[2018-06-11 21:56] #294 closed

[2018-06-11 21:59] nparsons08 commented on #280
This issue has been addressed (see attached image). Thanks for bringing up the issue!

![screencapture-winds-getstream-io-podcasts-5b04e3d326dc3db381cc7259-2018-06-11-15_58_32](https://user-images.githubusercontent.com/1328388/41259319-6f50c650-6d90-11e8-8dde-2cc7032d4692.png)

[2018-06-11 21:59] #280 closed

[2018-06-11 22:06] datitisev commented on #305
Hello. This is very much still an issue.
Different article example:

![image](https://user-images.githubusercontent.com/6401250/41259570-13f902c4-6da2-11e8-86f7-7cb52651af4f.png)

[2018-06-11 22:57] #284 closed

[2018-06-12 15:37] mkarliner commented on #294
Unless you have failed to replicate the bug, I see no that this is stale.

[2018-06-12 15:47] nparsons08 commented on #294
Hey @mkarliner, we've tried many times to replicate the issue; however, we have not been able to. Have you updated to the latest version?

[2018-06-12 18:12] nparsons08 commented on #357
Fixed

[2018-06-12 18:12] #357 closed

[2018-06-13 08:19] mkarliner commented on #294
I've now downloaded the new version. However, as per bug 357, reset password does not appear to work, so I'm unable to log into the account, as my previous actions resulted in account creation without a password being set.

[2018-06-13 13:54] tschellenbach commented on #294
Looping in @Nekuromento who has been doing some awesome work on making the auth and user endpoints more solid.

[2018-06-13 13:54] tschellenbach commented on #377
WIP is here: https://github.com/GetStream/Winds/pull/385

[2018-06-13 16:13] nparsons08 opened #390 "SVGs don't render in Safari & possibly Firefox"
SVGs fail to render in Safari and possibly Firefox. They work well in Chrome.

[2018-06-13 21:39] nparsons08 commented on #358
Fixed in https://github.com/GetStream/Winds/pull/394

[2018-06-13 21:39] #358 closed

[2018-06-14 11:05] kn9 opened #395 "I cant create an account for the past 3 weeks"
I have trying to create an account for the 3 weeks with no joy.

I get the error below
_There was an error when attempting to create your account. Please try again later._

[2018-06-14 11:08] kn9 commented on #395
Sorted now. I was able to create an account via the web.

[2018-06-14 18:39] #395 closed

[2018-06-18 20:13] nparsons08 opened #402 "Winds 2.2 Feature Requests"
Have a great idea for the next iteration of Winds? We're listening. Drop a line here and we'll take it into consideration.

[2018-06-18 23:55] tschellenbach commented on #377
support is added for this in 2.1, now you can follow ninja's youtube channel all day long!

[2018-06-19 15:58] #159 closed

[2018-06-19 16:57] lukasschwab commented on #191
`cmd+f` and `ctrl-f` support in articles.

[2018-06-19 17:15] nparsons08 commented on #290
@leonardovillela Hey! How's the PR coming along? Feel free to reach out if you have any questions about the codebase.

[2018-06-19 17:55] MadMikeyB opened #406 "Can't add new feed"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I'm trying to add a new feed - https://www.gamefront.com/feed/news and I just get "Oops, something went wrong. Please try again later."

### Steps to Reproduce

1. Click "New"
2. RSS

[2018-06-19 18:14] nparsons08 commented on #406
Hey @MadMikeyB, we're looking into the issue and will get back to you as soon as possible! Thanks for reporting this.

[2018-06-19 19:03] tschellenbach commented on #406
Tried this out, and it indeed doesn't work. Something related to invalid/different SSL

[code]

[2018-06-19 19:33] tschellenbach commented on #406
Looks like we can resolve this issue by using a newer version of node... Going to add that to the backlog. @tbarbugli it looks as though this is solved in 10.4.1

[2018-06-19 19:38] #377 closed

[2018-06-19 19:39] tschellenbach commented on #300
its a beauty
![image](https://user-images.githubusercontent.com/265409/41620178-28af8772-73c6-11e8-99d0-ddd066ba715f.png)

[2018-06-19 19:39] #300 closed

[2018-06-19 19:40] tschellenbach commented on #361
Fixed in the web version! Will ship in the next app releases as well. Thanks for reporting this

[2018-06-19 19:40] #361 closed

[2018-06-19 19:40] #191 closed

[2018-06-19 19:42] bamadesigner commented on #361
Thanks!

[2018-06-19 20:06] MadMikeyB commented on #406
Wow, super fast response. Thanks @nparsons08 and @tschellenbach - amazing!

[2018-06-19 20:26] #173 closed, assigned to nobody

[2018-06-20 17:38] nparsons08 commented on #290
This feature has been added to v2.1! 🎉

[2018-06-20 17:38] #290 closed

[2018-06-20 20:33] N-Upchurch opened #413 "Windows defender flagging .exe as virus."
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Upon download from MS Edge, windows defender interrupts download and removes .exe. Exe flags as a trojan.

### Steps to Reproduce

1. Download exe using edge
2. Profit

**Expected

[2018-06-20 21:03] nparsons08 commented on #363
@bamadesigner Would you be up for giving this a shot? We're getting pretty swamped with the heavy amount of users flooding in. :) I guess it's a good thing haha.

[2018-06-20 21:44] nparsons08 commented on #308
Hey @Thunderlbc, I just tested the URL and it seems to be parsing correctly. Can you try again? If you run into issues, ping me here and we'll reopen the issue. Thank you!

<img width="1427" alt="screen shot 2018-06-20 at 3 43 21 pm" src="https://user-images.githubusercontent.com/1328388/41686312-d19e69ea-74a0-11e8-91b5-92d3d773124f.png">

[2018-06-20 21:44] #308 closed

[2018-06-20 21:44] tschellenbach commented on #406
Now running Winds on 10.5.0 which resolves this SSL issue. Gamefront now works: https://winds.getstream.io/rss/5b2aca6a639896d0a87c15d9

Thanks for letting us know! It does seem that we have some OG scraping issues, @Nekuromento is looking into that.

![image](https://user-images.githubusercontent.com/265409/41686298-ca16ef94-74a0-11e8-85e2-d761a3c86255.png)

[2018-06-20 21:44] #406 closed

[2018-06-20 21:47] tschellenbach commented on #406
Ah, looks like this is caused by the urls in the feed being broken. This gives a 404: https://www.gamefront.com/forums/playerunknown-s-battlegrounds/pubg-s-new-map-sanhok-is-coming-june-22nd-along-with-some-major-ui-changes

[2018-06-20 22:34] nparsons08 commented on #372
Base Dockerfile in https://github.com/GetStream/Winds/pull/414

[2018-06-20 22:34] #372 closed

[2018-06-20 22:38] #303 closed

[2018-06-21 01:05] jasonstrimpel commented on #402
Import a list of feeds from a CSV files.

[2018-06-21 01:05] jasonstrimpel commented on #402
Export a list of feeds to a CSV file.

[2018-06-21 07:03] jasonstrimpel commented on #402
Move the back and forward buttons on top of post content from the navbar.
<img width="1676" alt="screen shot 2018-06-21 at 14 46 20" src="https://user-images.githubusercontent.com/908118/41702875-2b293bb6-7564-11e8-90ac-865f925fb326.png">

[2018-06-21 15:59] #267 closed

[2018-06-21 23:38] #154 closed

[2018-06-22 16:48] MadMikeyB commented on #406
Thanks @tschellenbach - I'll get those fixed :)

[2018-06-22 17:04] MadMikeyB commented on #406
hi @tschellenbach are the URL's cached in Winds? I've fixed the issue but the app still shows the old ones :)

[2018-06-22 17:08] tschellenbach commented on #406
See the rss.md file for how we handle uniqueneds

On Fri, Jun 22, 2018, 11:04 Michael Burton <notifications@github.com> wrote:

[2018-06-22 17:13] jcamilom opened #419 "Fail to add desktop entry on Linux (openSUSE Leap 15)"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

The desktop entry fails to be added using the AppImage.

### Steps to Reproduce

1. Download the AppImage
2. Make it executable `chmod +x Winds-2.1.0-x86_64.AppImage`
3. Execute the

[2018-06-24 15:29] jrcharney commented on #402
Features to allow organization by feeds either by folders or tags or both.

[2018-06-24 15:33] jrcharney commented on #402
I'm sure some of this is already part of Winds, but let's do a quick check over which formats are supported and find a way to add those formats.

- [ ] RSS
- [ ] ATOM
- [ ] RDF
- [ ] XML
- [ ] JSON

[2018-06-24 15:37] jrcharney commented on #402
An extension for Chrome and Firefox indicating if a site has a feed and a way to copy or import the feed to Winds.

[2018-06-24 15:46] jrcharney commented on #402
Allow feeds to be renamed, especially on feeds that use the same name string.

[2018-06-24 16:38] jrcharney commented on #402
So here's why XML matters, I've been trying to add the [RSS Feeds for the National Hurricane Center](https://www.nhc.noaa.gov/aboutrss.shtml)

However, when I use https://www.nhc.noaa.gov/gtwo.xml to get the Graphical Atlantic forecast, I get an "Oops, something went wrong. Please try again later." error message and I can not add the feed.

[2018-06-24 16:46] tschellenbach commented on #402
I just tried it via the `winds rss https://www.nhc.noaa.gov/gtwo.xml`
command and it seems to somewhat work. Going to investigate!

On Sun, Jun 24, 2018 at 10:38 AM Jason Charney <notifications@github.com>
wrote:

--
*Thierry Schellenbach* | Founder/CEO GetStream.io <https://getstream.io/> |
Techstars NYC 2015
 LinkedIn <http://www.linkedin.com/in/thierryschellenbach> | *E.*
thierry@getstream.io |

[2018-06-25 03:36] dashsd commented on #419
Same issue here on Arch Linux. Manually added the desktop entry with exec set to the "winds" executable file inside the app folder created in the temp directory. The desktop entry still doesn't register. Launching the app using the winds executable file (not the .AppImage file) does not produce the above error. Have set an environment variable to launch directly from terminal for now.

[2018-06-27 20:28] jcamilom commented on #419
I'm working on this.

As @dashsd mentioned, the multi-line value for the key "description" in the "package.json" file is creating the issue. I'll make a PR soon.

[2018-06-27 21:51] #419 closed

[2018-06-27 22:39] nparsons08 commented on #413
Unable to reproduce. Please open if the issue persists.

[2018-06-27 22:39] #413 closed

[2018-06-28 15:16] #305 closed

[2018-06-30 11:01] anity99 opened #441 "Winds 1.0 error"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I've tried install Winds 1.0 in localhost, but when I run `sails lift`, I get this error: [https://imgur.com/34aUPdG](https://imgur.com/34aUPdG)

### Steps to Reproduce

1. Download

[2018-07-02 13:40] lukasschwab commented on #402
(macOS)

Current behavior: when switching between podcasts, playback speed indicator (i.e. `2X`) stays the same, but playback speed is reset to normal.

Request: persist playback speed setting when changing podcasts.

[2018-07-02 17:38] nparsons08 commented on #390
Fixed in the latest release.

[2018-07-02 17:38] #390 closed

[2018-07-02 17:40] nparsons08 commented on #363
Closing this issue as it has become stale. Please re-open if you'd like to contribute to this issue. Thank you!

[2018-07-02 17:40] #363 closed

[2018-07-03 21:23] lukasschwab commented on #299
Having this issue, or some variant of it.

+ Winds 2.1.42, downloaded from https://s3.amazonaws.com/winds-2.0-releases/latest.html
+ macOS 10.13.5

Error message in the developer console:

[code]

[2018-07-03 21:36] tschellenbach commented on #299
Fixed in 2.1.44 we tried to eject from create react app and something didn't quite work well with electron builder it seems.

[2018-07-03 22:02] lukasschwab commented on #299
Gotcha! It's just that the downloads page is outdated, then.

[2018-07-03 22:03] tschellenbach commented on #299
I think you posted this at roughly the same time we pushed the fix :)
https://s3.amazonaws.com/winds-2.0-releases/latest.html

[2018-07-05 16:11] N-Upchurch opened #447 "Podcast streams failing during playback"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Podcasts hang during playback and do not continue, even after scrubbing backwards, or pausing and unpausing.

### Steps to Reproduce

1. Just play a podcast.

**Expected behavior:**

[2018-07-05 16:24] tschellenbach commented on #447
Thanks for reporting this issue. Which version of Winds and what platform are you using?

[2018-07-06 10:50] batarian71 opened #449 "Logo"
Hi. I am a graphic designer. I would like to volunteer to design a logo for this repository that you can use in the readme file. What do you say?

[2018-07-06 16:01] nparsons08 commented on #449
Hey @batarian71! We have a dedicated designer on the project so we are all set on design for now. We do appreciate you reaching out. Given your experience, we'd love if you could provide some feedback on the design and ways that we can make it better. Looking forward to it! Cheers! 🎉

[2018-07-06 16:01] #449 closed

[2018-07-06 23:18] g0g11 opened #450 "StreamApiError"
### Prerequisites

* [ x ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Wanted prepare my development environment to contribute on this project, but have an issue with the Stream API. The following error occurs if I try to signup:

[code]
The .env file

[2018-07-06 23:22] tschellenbach commented on #450
@nparsons08 is looking into this. im totally confused about it as well.

[2018-07-07 00:13] tschellenbach commented on #450
@Nekuromento any idea about this?

[2018-07-07 10:49] g0g11 commented on #450
@tschellenbach so it's a known issue?

[2018-07-07 11:02] snoorooth opened #451 "momie"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What

[2018-07-07 15:31] tschellenbach commented on #450
Do you still see this issue in 2.1.46? @g0g11
I believe it's fixed.

[2018-07-07 15:32] #451 closed

[2018-07-08 00:19] g0g11 commented on #450
Hello @tschellenbach
it's better but still not completely solved, I have right now the following issue if I try to signup with a new account:

1|conducto | info: Conductor iteration completed...
0|api      | interests:3:v2:1:46
0|api      | error: [object Object] Request failed with status code 500 Error: Request failed with status code 500
0|api      |     at createError (/Users/username/Document

[2018-07-08 20:03] g0g11 commented on #450
I think the problem is that my database has no collections except the users collection. Do you have any sample database data, so I can import it to my mongodb? @tschellenbach

[2018-07-09 15:09] nparsons08 commented on #450
Hi @g0g11, attached is a zip containing a MongoDB dump with RSS and Podcast data. It should have all of the collections you need as well.

Please login with `test@test.com` with the password `test` for debugging. You can also create new users with this.

You may need to run the `FLUSHALL` command in Redis to ensure that new RSS and Podcasts are cached.

Hope this helps!

[WINDS.zip](https://github

[2018-07-09 16:13] nparsons08 opened #452 "Playback speed indicator"
Current behavior: when switching between podcasts, playback speed indicator (i.e. 2X) stays the same, but playback speed is reset to normal.

[2018-07-09 16:18] nparsons08 opened #453 "Features to allow organization by feeds either by folders or tags or both"
Feature request

[2018-07-09 16:18] #402 closed

[2018-07-09 18:34] nparsons08 commented on #450
@g0g11 The 500 errors you were seeing in the screenshot above have been resolved in the latest release. Just pull and you should be all set :) 👍

[2018-07-09 18:50] g0g11 commented on #450
@nparsons08 the database is fixed, but the 500 error is still here ... Something is wrong in the get method in personalization/index.js :(

[2018-07-09 18:52] nparsons08 commented on #450
Hmm. The PR hasn't been merged yet. Working on that now – maybe it'll fix the issue you're seeing.

[2018-07-09 19:04] g0g11 commented on #450
@nparsons08 okey will check it later or tomorrow ...

[2018-07-09 21:47] nparsons08 commented on #450
@g0g11 An update has been merged. Can you verify if this fixes your issue? Thank you!

[2018-07-10 17:35] nparsons08 opened #459 "Ability to refresh recommendations"
Provide a button on the right side of "Discover" that allows users to refresh recommendations.

<img width="536" alt="screen shot 2018-07-10 at 11 35 09 am" src="https://user-images.githubusercontent.com/1328388/42527249-579f0f10-8435-11e8-86fd-17bbe73f419e.png">

[2018-07-10 20:37] g0g11 commented on #450
@nparsons08 good job!

[2018-07-10 20:40] nparsons08 commented on #450
Awesome! I assume that fixes the issue. 😄 I'm going to close this out, however, feel free to open another issue should something arise. Happy coding! 🎉

[2018-07-10 20:40] #450 closed

[2018-07-11 19:47] #192 closed

[2018-07-11 19:49] #182 closed

[2018-07-11 20:08] nparsons08 commented on #283
Adding into the internal backlog.

[2018-07-11 20:10] #459 closed

[2018-07-11 20:13] kenhoff commented on #178
@tbarbugli - how would you like this to look? I'm not really sure where to add a "dismiss" button without screwing up the design

[2018-07-11 20:14] nparsons08 commented on #453
https://trello.com/c/47XtIFPP/901-ability-to-organize-feeds-by-folder-tags-or-both

[2018-07-11 20:14] #453 closed

[2018-07-11 20:15] nparsons08 commented on #447
Unable to reproduce. Likely a network issue. Will re-open once we know the version. Thank you!

[2018-07-11 20:15] #447 closed

[2018-07-11 20:16] nparsons08 commented on #265
https://trello.com/c/6b3Zikva/902-if-you-provide-a-regular-rss-feed-url-when-adding-a-podcast-rss-feed-winds-interprets-blog-entries-as-unplayable-podcast-episode

[2018-07-11 20:16] #265 closed

[2018-07-11 20:17] nparsons08 commented on #188
https://trello.com/c/bh4B72CP/903-ability-to-rename-a-feed-eg-some-feeds-are-simply-named-rss

[2018-07-11 20:17] #188 closed

[2018-07-11 20:21] nparsons08 commented on #178
https://trello.com/c/UdAZDqSB/904-add-dismiss-to-follow-suggestions-on-homepage

[2018-07-11 20:21] #178 closed

[2018-07-11 20:51] kenhoff commented on #158
Already fixed.

[2018-07-11 20:51] #158 closed

[2018-07-11 21:00] nparsons08 commented on #452
https://trello.com/c/IUK1qlE4/907-current-behavior-when-switching-between-podcasts-playback-speed-indicator-ie-2x-stays-the-same-but-playback-speed-is-reset-to-no

[2018-07-11 21:00] #452 closed

[2018-07-19 16:12] shelldandy opened #467 "UI/UX Images should have placeholders"
![image](https://user-images.githubusercontent.com/7088511/42955962-4e05b560-8b44-11e8-9aa7-b5d1415459c2.png)

While the podcast images load the rows are collapsed since the image size is 0, i think ideally while that loads maybe show a dim gray square that will be filled with the real deal so content doesn't jump around as much when the images load.

I'll try to pitch in a PR for that over the we

[2018-07-19 16:14] shelldandy opened #468 "UX: Hitting the close button shouldn't terminate the app"
Specially when listening to podcasts you might want to minize the app while you listen, but the app gets killed by pressing the X button on the top bar :((((

[2018-07-19 16:17] tschellenbach commented on #467
Thank you for helping out!

On Thu, Jul 19, 2018 at 10:12 AM Miguel Palau <notifications@github.com>
wrote:

--
*Thierry Schellenbach* | Founder/CEO GetStream.io <https://getstream.io/> |
Techstars NYC 2015
 LinkedIn <http://www.linkedin.com/in/thierryschellenbach> | *E.*
thierry@getstream.io | *Twitter* @tschellenbach
<http://www.twitter.com/tschellenbach> | Github
<https://github.com/tschellenba

[2018-07-20 19:58] nparsons08 commented on #468
@shelldandy What platform are you running this on? Windows?

[2018-07-22 05:53] ThaFacialHair opened #471 "Dark Theme"
Please allow for a dark theme or have the app take its appearance from system theme.

[2018-07-23 02:56] dcalano opened #472 "Blank app"
When clicking a search suggestion, occasionally the entire app will turn blank

[2018-07-23 16:06] nparsons08 commented on #472
@dcalano If this happens again, do you mind posting your search query or the full URL in here? It will help me replicate and fix. Thank you for bringing this to our attention!

[2018-07-23 16:07] nparsons08 commented on #471
Great idea. We have this on an internal list of issues to get through. Hopefully, we can make it before the GA release of Mojave. :) 🤞

[2018-07-24 06:04] duanshanchong opened #473 "can support https?"
### Description

eg:https://www.solidot.org/index.rss

[2018-07-24 15:42] nparsons08 commented on #473
Hi there, we support HTTPS out of the box. The content you're trying to import is not in English, so our parsers are having a hard time churning through the feed. Do you have an English version of this feed that you can publish? Thank you!

[2018-07-24 15:42] #473 closed

[2018-07-24 17:11] nparsons08 commented on #468
Just implemented this feature. Will be released in the next macOS update. Thanks again!

[2018-07-24 17:11] #468 closed

[2018-07-25 14:13] vincentroman opened #477 "any guild on how to deploy on aws with serverless or anything?"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What

[2018-07-25 14:57] nparsons08 commented on #477
Not just yet. I'll put something together in the coming weeks. I'll likely release it on our blog https://getstream.io/blog as well as my Medium https://medium.com/@nparsons08. Stay tuned for updates.

[2018-07-25 14:57] #477 closed

[2018-07-25 22:44] markentingh opened #479 "Sign Up? Really?!?!"
I am sick of finding apps where I have to sign up and share my data on some remote server. This is an RSS feed app, not a web service! I want to keep my data local on my hard drive without the need to sign up or log into your web service. Please fix this serious issue.

[2018-07-25 22:57] nparsons08 commented on #479
Sorry, this app requires sign in because we offer personalized feeds. It's 100% open-source, so you're welcome to clone the code and create a version for yourself that is on your machine.

[2018-07-25 22:57] #479 closed

[2018-07-25 22:58] tschellenbach commented on #479
Biggest issue is that you can't do a pure local version & support mobile.

[2018-07-25 23:03] nparsons08 commented on #479
@markentingh Regarding what @tschellenbach said, that is a pretty big issue. We require users to signup/login so that we can maintain state across all variations of the application (e.g. native, web, and mobile).

[2018-07-26 01:03] markentingh commented on #479
Definitely all very good points... would be nice though to also have an option to ignore all those points and just use the app without requiring a signup process.

[2018-07-27 19:41] sasnfbi1234 opened #480 "Filters and folders question."
I looked around and can't tell. I still use the old af 'RSS Owl' because it has 1.Filters and 2.Folders so I can sort content. I want to switch to this but as far as I can tell it does not have these features. please let me know if im missing something on either front. Or if not how hard would it be to add them?

[2018-07-30 20:08] dcalano commented on #472
Sure. I will post an update later today. I am using Winds via the OS X desktop application but I can post a video/screenshots of the behavior

[2018-08-01 22:09] nparsons08 commented on #480
Hey @sasnfbi1234, this isn't something that is currently supported; however, we do have plans to implement this functionality in the near future. Cheers!

[2018-08-01 22:09] #480 closed

[2018-08-05 10:10] tbarbugli opened #483 "Player speed out state goes out of sync"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Speed UI is not correct after you switch to a different episode

### Steps to Reproduce

1. Play an episode
2. Change speed (eg. 2x)
3. Play a different episode

**Expected behavior:

[2018-08-09 17:13] #467 closed

[2018-08-10 22:40] tfaieta commented on #471
Hi! I'd like to work on this feature, I'm having some trouble running Winds locally, however 😅.

I'm getting this error:

Error: the client must be initialized with apiKey and token

./src/index.js
src/index.js:21
  18 | 	process.env.REACT_APP_STREAM_APP_ID,
  19 | );
  20 |

  22 | 	apiKey: process.env.REACT_APP_STREAM_API_KEY,
  23 | 	token: process.env.REACT_APP_STREAM_ANALYTICS,
  24 | });

Is

[2018-08-10 22:49] nparsons08 commented on #471
@tfaieta Happy to hear it! We'll support you as much as possible as you work through this enhancement.

First things first, it looks like you're missing your Stream tokens. Those can be found on the dashboard at https://getstream.io/dashboard.

![example](https://user-images.githubusercontent.com/1328388/43984364-52d0ba7e-9cbd-11e8-8ffa-d8dc8cd1d6e9.png)

[2018-08-10 23:25] nparsons08 commented on #471
@tfaieta Sure thing! I would go with what you think looks best – likely inverted colors. We can always tweak them at a later time. I would personally add a toggle for dark mode in the user settings and save it in local storage as `darkMode` with a `boolean`.  You can then load a different stylesheet based on the value of the `darkMode` key in localstorage. I'll be around all weekend if you get hun

[2018-08-12 22:49] tfaieta commented on #471
Hi @nparsons08, for some reason it's not letting me log into Winds on both the electron app and on chrome, it's almost like it's not loading user info from the database. Even when I tried making a different account with another email it never let me get past the login/signup screen. How exactly are we supposed to load in the data from mongo?

Sorry to keep bothering, hopefully will be the last iss

[2018-08-13 00:15] nparsons08 commented on #471
Any chance you can let me know what error message it’s throwing? I’m
assuming you’ve double checked that MongoDB is running and your user has
been created? A good UI tool is MongoDB Compass.

On Sun, Aug 12, 2018 at 4:49 PM Tony Faieta <notifications@github.com>
wrote:

--

*Nick Parsons* | *Senior Developer Evangelist*
GetStream.io <http://getstream.io/> | Techstars NYC 2015
nick@getstream.io | L

[2018-08-13 14:45] nparsons08 commented on #471
Hey @tfaieta, how's it going with the implementation?

[2018-08-13 22:14] tfaieta commented on #471
Just got off work, the error that it was throwing me when I tried logging in with my regular Winds credentials was:
"It looks like you have entered an incorrect email or password. Please try again."

May I have not imported the data correctly from MongoDB? I'll try downloading MongoDB Compass right now to see if I can see if it has any information there.

[2018-08-13 22:26] nparsons08 commented on #471
@tfaieta I'd see what is in your local MongoDB instance first and then we can debug from there.

[2018-08-13 22:39] tfaieta commented on #471
Console:

"Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
common.js:263 Uncaught ReferenceError: $st is not defined at common.js:263"

When running `$ show dbs` I get:
[code]

[2018-08-13 22:41] nparsons08 commented on #471
@tfaieta MongoDB Compass will abstract all of the logic you would normally do and provides a GUI for viewing the content. If you start it, you should be able to drop in your DB instance that is running locally (e.g. http://localhost:27017/winds).

I would do the following:
2. Make sure that the API is running

[2018-08-13 23:01] tfaieta commented on #471
Redis is running, API is running and the app starts and takes me to the create account screen and then to the login screen. I can see my DB instance now in MongoDB Compass, it still looks like there is no data in there. Here's a screenshot:

![screen shot 2018-08-13 at 7 00 32 pm](https://user-images.githubusercontent.com/14933083/44062634-305de38e-9f2b-11e8-8d5f-b243336a7942.png)

[2018-08-13 23:03] nparsons08 commented on #471
@tfaieta Can you email me at nick@getstream.io with your local .env file? I have a feeling something is wrong there. You should see the database WINDS in Compass.

[2018-08-13 23:10] tfaieta commented on #471
@nparsons08 Sent! =)

[2018-08-14 12:04] daniglezad commented on #472
This has happened to me regardless of what you search. **Either you click or press enter**, the app turns blank and you need to restart it to operate normally (until it happens again).

[2018-08-15 19:25] vincentroman opened #485 "How do I deploy to AWS?"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What

[2018-08-15 19:27] tschellenbach commented on #485
That would be awesome, guides on how to deploy winds on AWS, DO, Google, Kubernetes, Zeit etc.
I like it

[2018-08-15 19:53] vincentroman commented on #485
yes it will really be helpful

[2018-08-17 07:00] borisrorsvort opened #486 "Pressing escape on an article view should bring back to the list"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Pressing escape on an article view doesn’t do anything

### Steps to Reproduce

1. Go to your Rss feeds list
2. Click on an article
3. Press escape

**Expected behavior:** Go back to

[2018-08-17 07:18] borisrorsvort opened #487 "Mark as read option missing"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I am missing a «Mark all as read» option somewhere (global or per feed)
Also If I go to an article and press back, it doesnt remove the green dot which I suppose is the read indicato

[2018-08-17 07:28] borisrorsvort opened #488 "Missing way to go back to all feeds when viewing a specific source feed"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

There is no way to go back to all feeds when seing a particular feed, you need to go to home and then «View all»

<img width="640" alt="winds - powered by getstream io 2018-08-17 09-

[2018-08-17 15:54] nparsons08 commented on #488
Thank you @borisrorsvort! We'll add this to our backlog and address it as soon as possible! Keep the feedback coming :) 👍

[2018-08-17 15:54] nparsons08 commented on #487
Thank you @borisrorsvort! We'll add this to our backlog and address it as soon as possible! Keep the feedback coming :) 👍

[2018-08-17 15:55] nparsons08 commented on #486
Good thought here. We'll need to do some basic keybinding here, so it shouldn't be too difficult. Are you up for a coding challenge by chance?

[2018-08-17 16:26] vincentroman commented on #485
sorry please i will prefer vanilla thank you.

[2018-08-17 17:01] nparsons08 commented on #485
I'll write up a tutorial here in the next couple of days for you. Sorry for the delay.

[2018-08-17 17:10] vincentroman commented on #485
ok thanks please can you be i bit specific please cus i am using it for my school project which i should be done with by Sunday evening so if maybe you can help maybe write one before sunday i will really appreciate your effort as always thanks for your reply

[2018-08-17 17:24] kyledolichev opened #490 "Building for the AUR"
Hi, I'd like to build your app for the AUR, but I am unsure of how exactly to package this app.

so far this is what I've got

[code]

any idea how I would get this into a package? What files should be installed to the system and are there any dependencies I am missing? Not a fan of AppImages, would be nice if you guys supported flatpak, but ultimately I'd like this to run natively.

[2018-08-17 17:30] nparsons08 commented on #490
I'm not too familiar with AUR but are you opposed to installing with snap?

1. `yaourt -S snapd`
2. `sudo systemctl enable --now snapd.socket`
3. `sudo snap install winds`

[2018-08-17 17:48] borisrorsvort commented on #486
You mean submit a PR for this? I’ll try to find the time to have a look. Do you already have something in mind to handle keybinding?

Following http://www.npmtrends.com/react-hotkeys-vs-react-keybinding-vs-react-keybinding-component-vs-react-shortcuts it seems react-hotkeys is the wizer option.

[2018-08-17 17:50] vincentroman commented on #485
either way i will be waiting

[2018-08-17 18:17] borisrorsvort opened #491 "Provide design files for contributors"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I guess It will be easier for contributors to suggest Ui changes if they can start from an up to date design file (sketch) or project (Figma),...

We could always screenshot, but it

[2018-08-17 18:31] kyledolichev commented on #490
I don't use systemd, IDK if I can even use snap tbh. I'd like to get this running natively so it can be posted to the AUR, once I figure this out I can also package it for Void Linux. I don't think snap is available on Void MUSL either, so snap won't do. Flatpak would work but not snap or AppImage.

[2018-08-17 18:32] borisrorsvort opened #492 "Display unread count pills to Rss Box"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I would be helpfull to display a total unread count in the box header as well as on the list items.

![unread](https://user-images.githubusercontent.com/39081/44282815-8d882180-a25c-

[2018-08-17 18:34] kyledolichev commented on #490
Do you know how I can install this into a package? I've never seen anyone use yarn before for anything.

[2018-08-17 18:38] borisrorsvort opened #493 "Allow featured items to be customized"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I know this some kind of sponsoring, but I feel this is a little invasive as this is really not the main focus of the app yet it feels like the most important element of the main scr

[2018-08-19 05:15] zaluzianskya opened #494 "Feeds haven't updated since I followed them, although they should have"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I just installed Winds, eager for a joint RSS and podcast app, but even though some of the feeds I'm following _should_ have updates since I followed them, they don't.

The feeds thi

[2018-08-20 01:48] tschellenbach commented on #494
How about now?

On Sat, Aug 18, 2018, 23:15 Zal <notifications@github.com> wrote:

[2018-08-20 02:04] zaluzianskya commented on #494
They have updated now.

[2018-08-20 02:04] #494 closed

[2018-08-20 16:37] nparsons08 commented on #491
Hey @borisrorsvort, we need to do a bit of cleanup on the Sketch file prior to releasing it to the community. Another round of design will be starting shortly so we'll release it once the new features are in place. Thanks for the issue! Cheers!

[2018-08-20 16:37] #491 closed

[2018-08-21 17:06] nparsons08 commented on #490
I'm really not sure. I asked around the team and did a bit of research. Doesn't look like electron builder (the package we use to build for linux) supports your package type. Very sorry.

[2018-08-21 17:06] #490 closed

[2018-08-25 18:32] borisrorsvort opened #497 "Auto update the app without having to manually a new version"
This could help: https://github.com/electron/electron/blob/master/docs/api/auto-updater.md

[2018-08-27 14:47] nparsons08 commented on #485
Hey @vincentroman, we haven't had a chance to get around to it – apologies. Is there something in particular that you are struggling with?

[2018-08-28 18:08] vincentroman commented on #485
yes am finding it hard to upload wind and cabin on DO, AWS, or google cloud however i have managed to host the cabin app on digital ocean but its not working with https in particular i cant host the cabin app and wind with https i whant to know how tohost it with https

[2018-08-31 11:25] Nkoyan opened #498 "Download blocked by Windows Defender"
I downloaded the app with chrome on Windows 10 and got this :
![aaa](https://user-images.githubusercontent.com/18040372/44909880-f66da000-ad18-11e8-892d-e0749e4e27b6.PNG)

[2018-09-01 00:07] vincentroman commented on #485
How do I deploy it with https on digitalocean or google cloud

[2018-09-01 15:27] nparsons08 commented on #497
Hey @borisrorsvort, we rely on the app stores to handle updates on our end so if it's a self-downloaded version, you're going to have to keep up with our updates for now. Auto updates for self-serve versions aren't currently in the pipeline. Thanks!

[2018-09-01 15:27] #497 closed

[2018-09-01 15:28] nparsons08 commented on #498
HI @Nkoyan, this is something that we've seen before and aren't quite sure why it's being blocked. We'll continue to work on the issue on our end. Thank you for reporting.

[2018-09-05 09:49] vincentroman commented on #485
please i know you're busy but please show me how to use it on docker instead i am really relying on it to continue with the learning of my project thanks

[2018-09-05 16:28] nparsons08 commented on #485
Hi @vincentroman, we will have a tutorial for both the API and frontend available tomorrow. Thank you for your patience.

[2018-09-06 14:42] nparsons08 commented on #485
@vincentroman, the following posts will help you deploy to AWS. Be sure to follow closely. Thank you.

https://getstream.io/blog/deploying-the-winds-api-to-aws-ecs-with-docker-compose/

AND

https://getstream.io/blog/deploying-the-winds-app-to-amazon-s3-and-cloudfront/

[2018-09-06 14:42] #485 closed

[2018-09-06 17:31] nparsons08 commented on #472
A resync of the search index likely fixed this. Please reopen if the issue persists.

[2018-09-06 17:31] #472 closed

[2018-09-06 17:33] nparsons08 commented on #498
@Nkoyan are you able to bypass this in any way?

[2018-09-06 22:33] vincentroman commented on #485
Thanks a lot I know this is closed but will this works on google cloud and can I apply it the cabin app?

[2018-09-06 22:45] nparsons08 commented on #485
Cabin and Winds are completely separate applications. Both will take knowledge of basic DevOps skills to get up and running in your own environment. We no longer support Cabin, therefore we don't have any intentions to create an updated tutorial for it.

[2018-09-06 22:45] nparsons08 commented on #485
Additionally, this is meant for AWS and not Google.

[2018-09-07 00:16] vincentroman commented on #485
Ok thank you very much

[2018-09-11 19:50] brttnylrnsstuff commented on #472
I have the same issue, and it is happening 100% of the time after clicking on a link or adding a new feed. I am using the web version on Mac OS X.

[2018-09-13 14:47] nparsons08 commented on #487
@AminMahboubi We have an endpoint for handling this. Ping me if you need direction.

[2018-09-13 14:48] nparsons08 commented on #488
@AminMahboubi Please work with Josh on a spec for this.

[2018-09-14 16:18] #498 closed

[2018-09-18 16:17] fanyinghao opened #504 "Do not pass referrer for requesting image sources"
Some service would anti stealing-link by checking referrer on request header. Thus, some images are loading failure and getting 403.

To solve this case, adding:
[code]

https://www.w3.org/TR/referrer-policy/

[2018-09-19 09:12] #483 closed

[2018-09-20 19:49] vincentroman commented on #485
@nparsons08 please i know this of topic and u are definitely not concerned about this but please i am having issues with my cabin app api, the issue there is that am getting an error stating that cors on the same domian in not allowed

[2018-09-20 19:50] vincentroman commented on #485
it ddoes not allow app to push data to api please help me thanks

[2018-09-21 17:54] nparsons08 commented on #504
@AminMahboubi is this something that you can grab?

[2018-09-22 16:52] #486 closed

[2018-09-22 16:53] #504 closed

[2018-09-23 11:08] AminMahboubi commented on #487
@nparsons08 Could you send me the endpoint?

[2018-09-25 06:42] #488 closed

[2018-09-27 18:04] #487 closed

[2018-09-30 08:27] waterzeong opened #518 "can't see shownots & how to close low right pop-up"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What

[2018-09-30 14:46] AminMahboubi commented on #518
@waterzeong Thank you for filing this issue. Could you add some context to this problem?

[2018-09-30 19:33] marianoju opened #519 "Winds finds no episodes of Data Skeptic"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Winds finds no episodes of the podcast "Data Skeptic".

### Steps to Reproduce

1. From "All Podcasts" select "Data Skeptic"
<img width="1440" alt="grafik" src="https://user-images.g

[2018-10-02 15:26] chungsie opened #520 "Winds Won't stream episodes"
Winds will not play podcasts/episodes. Some episodes never play. I've tried refreshing the list, and restarting system. I'm on Ubuntu 18.04. THere seems to be no relevant tips on how to solve this in google.

[2018-10-02 17:15] nparsons08 commented on #520
Can you let us know what episodes you are referring to so that we can look into the issue? We need some kind of context to go by when debugging.

[2018-10-02 17:37] chungsie commented on #520
Bad At Sports episodes not titles Episode, and the latest two.

[2018-10-02 17:43] #518 closed

[2018-10-05 15:54] roberthchan commented on #520
Hi im using MacOSX, the dmg works great, but in chrome 69 not play the audios, i use using RSS in **Ivoox** (not play) and sometimes **Spreaker** (works fine), When i clic on Podcast menu, show me random episodies (not only the options choiced).

[2018-10-20 08:12] antonfefilov opened #529 "Version 2.3.1 installed via Snap doesn't work on Ubuntu 16.04"
### Prerequisites

* [X ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

App has a blank screen after starting.

### Steps to Reproduce

1. Install it via Snap
2. Run it.
3. Enjoy the blank screen :)

**Reproduces how often:** 100%

### Versions

2.3.1

[2018-10-20 12:28] LinArcX opened #530 "Install from source"
Hi. i want to create a pkgbuild for winds for arch linux. but i don't know how to do that.
Can you explain steps to follow for installation from source?

[2018-10-22 11:43] siwday commented on #529
I have the same problem on Debian.
Then I found there is a appImage version on the https://getstream.io/winds/ .So far so good

[2018-10-22 14:42] nparsons08 commented on #529
@antonfefilov for now, please use the `appImage` when possible. We're actively working to improve the Snap experience. Sorry for the inconvenience. On a positive note, some awesome features will soon be released!

[2018-10-22 14:44] nparsons08 commented on #530
@LinArcX The app is an Electron build so I'm not 100% sure how to grab what you're looking for. What is the archive you're looking for to turn it into a `pkgbuild`? I may be able to export to that and send it your way.

[2018-10-25 01:25] Einkoro opened #532 "Register in Launch Services as a viewer for the feed URL scheme"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

Winds currently does not appear to register with launch services as a viewer for the feed URL scheme. This currently prevents detecting Winds as an application supporting feeds or la

[2018-10-25 08:19] AminMahboubi commented on #532
Thank you @Einkoro, we'll put this on our backlog. Are you up for a coding challenge by chance? you can create a PR for this feature.

[2018-10-25 08:21] #520 closed, assigned to mahboubii

[2018-10-25 09:19] Einkoro commented on #532
I'm not terribly familiar with electron but the documentation for registering URL schemes or extending Info.plist seems to be rather lacking and mostly dead wiki links from GH issues circa ~2016. Are you familiar at all with how extendInfo works in electron builder? About the only example I could find and virtually zero documentation was:
[code]
With no mention if there is support for arrays or di

[2018-10-25 09:42] Einkoro commented on #532
After more digging if I'm following correctly this looks like it:
[code]
Which would be in package.json around here: https://github.com/GetStream/Winds/blob/v2.3.3/app/package.json#L92

And then register an open-url event handler on the app object and handle it there. This seems pretty bare but appears to be the relevant bits:
https://electronjs.org/docs/api/app#event-will-finish-launching
https:/

[2018-10-25 10:01] AminMahboubi commented on #532
@Einkoro you can set up the front-end application and point it to the winds production API, check the details on the README, Also for more detailed guide:
https://getstream.io/blog/winds-an-in-depth-tutorial-on-making-your-first-contribution-to-open-source-software/

[2018-10-25 10:57] marianoju commented on #519
a) I have checked (or “revisited”) just now (25 days after opening this issue) and Winds still finds no episodes of Data Skeptic. The problem is still unresolved.
b) So apparently you have closed this issue without taking any action, is that correct?

[2018-10-26 08:47] AminMahboubi commented on #519
@marianoju, we are constantly improving the codebase and as i told earlier, it might take some time to process all the episodes. currently all the episodes of `Data Skeptic` are processed and available in the link I share in prev comment:
https://winds.getstream.io/podcasts/5b49bd4c55ce1a7bcc7dbbac

If you are using the desktop application, please update to the latest version.
If the problem still

[2018-10-26 09:13] AminMahboubi commented on #519
@marianoju Deeper checks revealed that we have multiple `Data Skeptic` podcasts due to different Feed URL uploaded by different users. It appears that the one you are using is not maintained anymore or it's a wrong Feed URL:
https://winds.getstream.io/podcasts/5afdbdecfe7430d359b5cc17

Try to use one of these instead:
https://winds.getstream.io/podcasts/5b49bd4c55ce1a7bcc7dbbac
https://winds.getst

[2018-10-29 17:38] vamseems commented on #471
@tfaieta are you still pursuing this?

[2018-10-31 04:32] francishero opened #533 "listen EADDRINUSE <PORT>, all ports giving this error"
Error: listen EADDRINUSE 8080 # This can remain as is
0|api    |     at Server.setupListenHandle [as _listen2] (net.js:1343:19)
0|api    |     at listenInCluster (net.js:1401:12)
0|api    |     at Server.listen (net.js:1496:5)
0|api    |     at Function.listen (/root/var/www/znewsly/api/dist/node_modules/express/lib/application.js:618:24)
0|api    |     at Object.<anonymous> (/root/var/www/winds/a

[2018-10-31 15:51] nparsons08 commented on #533
Are you experiencing this during every deploy? Have you attempted to restart the server?

[2018-10-31 16:01] francishero commented on #533
@nparsons08 yes on every deploy, the worst is am actually experiencing it on my Windows machine where I hacked the npm scripts to run without pm2. so this is not problem with with pm2 but I can't figure out what's going on

[2018-10-31 16:03] francishero commented on #533
@nparsons08 it happens on a fresh digital ocean Ubuntu 16.04 server, even on my local dev on Windows where am not using pm2

[2018-10-31 20:43] #533 closed

[2018-10-31 20:45] francishero commented on #533
Ok so i fix this error by replacing some lines in api.listen() in the api/src/server.js. Not permanent solution but error is gone

[2018-10-31 20:50] francishero opened #534 "ioredis: ReplyError: ERR DB index is out of range"
Am connecting to a local instance of redis, i keep getting this error, googling isnt helping

(node:28488) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 4)
0|api      | ReplyError: ERR DB index is out of range
0|a

[2018-10-31 22:17] #534 closed

[2018-11-01 05:19] lunaticmonk opened #535 "Absence of a couple of env variables in the sample .env file provided in README."
### Prerequisites

*Put an X between the brackets on this line if you have done all of the following:
    [x] Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

[Description of the issue]

### Steps to Reproduce

**Expected behavior:** [What you expect to happen]
The absent env variables have to be included in the sample .env provided in README

[2018-11-01 15:38] nparsons08 commented on #535
@lunaticmonk Addressed. Thank you!

[2018-11-01 15:38] #535 closed

[2018-11-01 23:07] #493 closed

[2018-11-02 00:04] shamilsherhan opened #538 "Icon missing on AppImage"
### Description

The app icon is missing both on the launcher and window header of the Winds AppImage

**Expected behavior:** The Winds icon to be displayed
**Actual behavior:** A blank file icon appears

**Reproduces how often:** 100%

### Versions

2.1.90

### Additional Information

![screenshot_20181102_052620](https://user-images.githubusercontent.com/20861048/47886570-e2e9cd00-de60-11e8-8872

[2018-11-02 00:24] francishero opened #539 "RSS articles not displaying"
I cloned the repo, had issues running it on local windows machine, so i deployed the api on digital ocean following your guide. After some issues i managed to get the local react web app to talk to the api, but some things are not working.
Main one being rss articles are not pulled, i keep getting this screen.
![3e47abb4e9fe280ff0cd662bf65af6e](https://user-images.githubusercontent.com/16598693/47

[2018-11-02 03:24] #539 closed, assigned to nobody

[2018-11-04 02:14] vincentroman opened #540 "keen not defined and cred not allowed"
@nparsons08 @dwightgunning please help me out i know am kind of disturbing in this issue but i really need to see this thing work it about the cabin app and it 's now showing {"code":"InvalidCredentials","message":"No authorization token was found"} even after i have swapped the Facebook aside that it's also showing keen not defined please any help will be appreciated thanks you can take a look at

[2018-11-07 18:00] #540 closed

[2018-11-07 18:07] nparsons08 commented on #530
Closing this out due to inactivity.

[2018-11-07 18:07] #530 closed

[2018-11-07 18:08] nparsons08 commented on #532
Closing this out due to inactivity.

[2018-11-07 18:08] #532 closed

[2018-11-07 18:09] nparsons08 commented on #492
Closing this out due to inactivity.

[2018-11-07 18:09] #492 closed

[2018-11-07 18:09] nparsons08 commented on #529
Closing this out due to inactivity.

[2018-11-07 18:09] #529 closed

[2018-11-07 18:41] borisrorsvort commented on #492
?? Don’t you think it should be there? Wasn’t this planned in https://github.com/GetStream/Winds/issues/491#issuecomment-414381818
A rss reader without unread count is pretty useless...

[2018-11-12 12:56] dggonzalez1971 commented on #529
have the same problem in
-Ubuntu 18.10
Snap

[2018-11-12 17:04] bitSheriff opened #541 "Window stays white, no interaction possible"
### Description

After installation from snapstore (Ubuntu 18.10) the window stays white and no interaction with the menu is possible. (Beside Window --> Close & Minimize)

### Steps to Reproduce

1. Installing from Snapstore ( or Ubuntu Store)
2. Launch

**Expected behavior:** The welcome page (never had winds so I dont know exactly)

**Actual behavior:** White blank page

**Reproduces how often:

[2018-11-12 17:32] bitSheriff commented on #541
Executing winds in the command line returns following errors:

Fontconfig warning: "/etc/fonts/conf.d/10-hinting-slight.conf", line 4: unknown element "its:rules"
Fontconfig warning: "/etc/fonts/conf.d/10-hinting-slight.conf", line 5: unknown element "its:translateRule"
Fontconfig error: "/etc/fonts/conf.d/10-hinting-slight.conf", line 5: invalid attribute 'translate'
Fontconfig error: "/etc/fonts

[2018-11-17 11:22] schittli opened #544 "Suggestion: Adding a new RSS Feeds - Allow to select a folder"
### Prerequisites
* [x] Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

**Thanks a lot for this beautiful tool!**, I try to replace feedly by Winds and started adding the RSS Feeds.

### Description
At the moment, Winds does offer to add a new RSS Feed to the Users *generic RSS » Feeds list and not to a Folder*.
If the user would like to add a new RSS Feed t

[2018-11-20 03:19] rafifos opened #546 "Winds is unable to add a feed"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Checked that your issue isn't already filed: https://github.com/GetStream/Winds/issues

### Description

I'm unable to add the [Intoxi Anime](https://www.intoxianime.com/feed/) feed, it's a feed generated by Wordpress.

### Steps to Reproduce

1. Try to add this RSS: https://www.intox

[2018-11-20 07:02] begriffs opened #547 "Allow HTTP caching"
RSS clients typically include HTTP headers such as [If-Modified-Since](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Modified-Since) in their requests which allows web servers to send back an empty body and status 304 if nothing has changed since the last check. Winds does not appear to send these kind of headers, which forces servers to waste bandwidth replying with the full RSS fe

[2018-11-20 07:41] mahboubii commented on #519
@h4ndshake thank you for the feedback, we have it on our backlog.

[2018-11-20 08:08] mahboubii commented on #547
Thank you @begriffs, are you up for some coding? you could create a PR for this feature.

[2018-11-20 09:42] mahboubii commented on #541
@extraymond will be fixed in the next release, coming soon.

[2018-11-20 09:43] extraymond commented on #541
@mahboubii  Thx. Hoping to use the great podcast app again.

[2018-11-20 15:18] begriffs commented on #547
Here's the crux: [ReadURL](https://github.com/GetStream/Winds/blob/6a9631fbf796e3b52e7a4418219741fdf969f6a1/api/src/parsers/feed.js#L206-L210) is passing only "User-Agent," "Accept-Encoding," and "Accept" headers.

Adding a `lastRequested` parameter to [ParseFeed](https://github.com/GetStream/Winds/blob/6a9631fbf796e3b52e7a4418219741fdf969f6a1/api/src/parsers/feed.js#L52) would probably be a good